@using hw.easyzy.model.dto;

@{List<dto_Zy> zl = ViewBag.ZyList;}

@if (zl != null && zl.Count > 0)
{
    foreach (var zy in zl)
    {
        <tr>
            <td class="zyid">@zy.Id</td>
            <td>@zy.SubjectName</td>
            <td>@zy.ZyName</td>
            <td>@zy.OpenDate.ToString("yyyy-MM-dd HH:mm")</td>
            <td>@zy.DueDate.ToString("yyyy-MM-dd HH:mm")</td>
            <td>@zy.CreateDate.ToString("yyyy-MM-dd HH:mm:ss")</td>
            <td class="zytype" data-bind="@zy.Type">@zy.TypeName</td>
        </tr>
    }
}
else
{
    <tr><td colspan="7">您还没有建任何作业！</td></tr>
}


<div style="display:none"><div id="PageCountDiv">@ViewBag.PageCount</div></div>

