@using hw.easyzy.model.dto;

@{List<dto_Zy> zl = ViewBag.ZyList;}

@if (zl != null && zl.Count > 0)
{
    int i = 0;
    string a = "";
    foreach (var zy in zl)
    {
        a = i == 0 ? "active" : "";
        i = 1;
        <tr data-bind="@zy.NewId" class="@a">
            <td>@zy.SubjectName</td>
            <td class="align-left" title="点击查看作业内容"><a href="/list/home/info?zyid=@zy.NewId">@zy.ZyName</a></td>
            <td>@zy.OpenDate.ToString("yyyy-MM-dd HH:mm")</td>
            <td>@zy.DueDate.ToString("yyyy-MM-dd HH:mm")</td>
            <td>@zy.CreateDate.ToString("yyyy-MM-dd HH:mm:ss")</td>
            <td class="zytype" data-bind="@zy.Type">@zy.TypeName</td>
            <td class="zystatus">@(zy.Status == 0 ? "正常" : zy.Status == 1 ? "已关闭" : "已删除")</td>
            <td>
                @foreach (var l in zy.ClassSubmitInfo)
                {
                    <span>@(l.ClassName) (@(l.SubmitCount)/n)</span>
                }
            </td>
            <td>
                <a href="/analyze/home?zyid=@zy.NewId" title="查看作业统计信息">统计</a>
                <a href="#" class="closezy" data-bind="@zy.NewId" title="关闭后任何人无法提交此作业答案">关闭</a>
                <a href="#" class="deletezy" data-bind="@zy.NewId" title="删除后任何人无法打开查看此作业内容">删除</a>
                <a href="/submit/home?zyid=@zy.NewId" title="试用作业可多次提交，正式作业一个人只能提交一次">提交答案</a>
            </td>
        </tr>
    }
}
else
{
    <tr><td colspan="9">没有任何作业！</td></tr>
}

<tr style="display:none"><td id="PageCountDiv">@ViewBag.PageCount</td></tr>

<script type="text/javascript">
    var closezyid = 0;
    var deletezyid = 0;

    $(".closezy").on("click", function () {
        closezyid = $(this).attr("data-bind");
        dialogConfirm("关闭后学生可以打开作业但是无法提交。<br/>确认要关闭作业吗？", CloseOK, "")
    })

    var CloseOK = function () {
        $.post("/list/home/CloseZy",
            { zyId: closezyid },
            function (data) {
                if (data.code == "0") {
                    $("tr[data-bind='" + closezyid + "']").find(".zystatus").html("已关闭")
                }
                else {
                    dialogAlert(data.message);
                }
            })
    }

    $(".deletezy").on("click", function () {
        deletezyid = $(this).attr("data-bind");
        dialogConfirm("删除后学生将无法打开作业。<br/>确认要删除作业吗？", DeleteOK, "")
    })

    var DeleteOK = function () {
        $.post("/list/home/DeleteZy",
            { zyId: deletezyid },
            function (data) {
                if (data.code == "0") {
                    $("tr[data-bind='" + deletezyid + "']").find(".zystatus").html("已删除")
                }
                else {
                    dialogAlert(data.message);
                }
            })
    }
</script>