<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta name="keywords" content="易作业,easy作业,题库作业,文件作业,简单,易用,免费,好用,作业平台,作业工具,文件上传作业,线上作业,无需注册,上传作业图片">
    <meta name="description" content="易作业，简单、稳定、高效的作业工具，线上布置，线上完成作业，无需登录即可体验，登录后更可解锁更多功能！">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="/Content/css.css?v=20171107" />
    <link href="/Scripts/artDialog/css/ui-dialog.css" rel="stylesheet" />
    @RenderSection("css", required: false)
    <script type="text/javascript" src="/Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/Scripts/jquery.placeholder.min.js"></script>
    <script src="/Scripts/artDialog/dialog.js"></script>
    <script type="text/javascript" src="/Scripts/user.easyzy.common.js"></script>
    @RenderSection("scriptfirst", false)
</head>
<body>
    <div class="content-wrap">
        @RenderBody()
        @RenderSection("scripts", false)
    </div>
    <div class="foot-wrap">
        <div class="foot">
            <p>&copy; @DateTime.Now.Year - 易作业 | 超级简单、易用的作业平台</p>
            <p>
                京ICP备17073793
                <script type="text/javascript" src="http://easyzy.com/Scripts/umeng.js"></script>
            </p>
            <p>联系我们 QQ:2023434830 |</p>
        </div>
    </div>
</body>
</html>
