
<div style="font-size:16px; padding-left:20px;">
    <table class="tab-default">
        <tr>
            <td class="tright">用户名：</td>
            <td class="tleft">@ViewBag.UserInfo.UserName</td>
            <td class=""></td>
        </tr>
        <tr>
            <td class="tright">真实姓名：</td>
            <td class="tleft"><input type="text" id="TrueNameInput" value="@ViewBag.UserInfo.TrueName" /></td>
            <td class=""><a href="javascript:void(0);" class="truenamebtn icoedit save" title="保存"></a>@*<label class="cedit">（5位以内。修改后，您提交作业时将会默认使用此姓名）</label>*@</td>
        </tr>
        <tr>
            <td class="tright">学校信息：</td>
            <td class="tleft">
                @*<b id="ClassB">@ViewBag.UserInfo.Class</b>
                <input class="classinfo" type="text" id="ClassInput" value="" style="display:none" />*@
                <div class="tpanal">
                    <p class="panal_title">省、市、区、学校 设置之后不能修改，请谨慎选择！</p>
                    
                    <div class="tselect">
                        <label class="tselect_tip">省：</label>
                        <select @(ViewBag.UserInfo.ProvinceId == 0 ? "" : "disabled") class="pselecter short">
                            @if (ViewBag.Provinces != null)
                            {
                                <option value="0"></option>
                                foreach (var p in ViewBag.Provinces)
                                {
                                    <option value="@p.Key">@p.Value</option>
                                }
                            }
                            else
                            {
                                <option value="@ViewBag.UserInfo.ProvinceId">@ViewBag.UserInfo.ProvinceName</option>
                            }
                        </select>
                        <label class="tselect_tip">市：</label>
                        <select @(ViewBag.UserInfo.CityId == 0 ? "" : "disabled") class="cselecter short">
                            @if (ViewBag.Cities != null)
                            {
                                <option value="0"></option>
                                foreach (var c in ViewBag.Cities)
                                {
                                    <option value="@c.CityId">@c.CityName</option>
                                }
                            }
                            else
                            {
                                <option value="@ViewBag.UserInfo.CityId">@ViewBag.UserInfo.CityName</option>
                            }
                        </select>
                        &nbsp;&nbsp;区：
                        <select @(ViewBag.UserInfo.DistrictId == 0 ? "" : "disabled") class="dselecter long">
                            @if (ViewBag.Districts != null)
                            {
                                <option value="0"></option>
                                foreach (var c in ViewBag.Districts)
                                {
                                    <option value="@c.DistrictId">@c.DistrictName</option>
                                }
                            }
                            else
                            {
                                <option value="@ViewBag.UserInfo.DistrictId">@ViewBag.UserInfo.DistrictName</option>
                            }
                        </select>
                        &nbsp;&nbsp;学校：
                        <select @(ViewBag.UserInfo.SchoolId == 0 ? "" : "disabled") class="sselecter long">
                            @if (ViewBag.Schools != null)
                            {
                                <option value="0"></option>
                                foreach (var c in ViewBag.Schools)
                                {
                                    <option value="@c.SchoolId">@c.SchoolName</option>
                                }
                            }
                            else
                            {
                                <option value="@ViewBag.UserInfo.SchoolId">@ViewBag.UserInfo.SchoolName</option>
                            }
                        </select>
                    </div>
                    <div>
                        年级：
                        <select class="gselecter short">
                            <option value="0"></option>
                            @foreach (var c in ViewBag.Grades)
                            {
                                <option value="@c.Key">@c.Value</option>
                            }
                        </select>
                        班级：
                        <select class="clsselecter short">
                            <option value="0"></option>
                            @for (int i = 1; i < 100; i++)
                            {
                                <option value=@i>@(i)班</option>
                            }
                        </select>
                    </div>
                </div>
            </td>
            <td class=""><a href="javascript:void(0);" class="classbtn icoedit save" title="保存"></a><a href="javascript:void(0);" class="applybtn icoapply" title="提交修改申请"></a></td>
        </tr>
        
        <tr>
            <td class="tright">作业收费：</td>
            <td class="tleft">0元</td>
            <td class="">暂未开放<br/>@*（作为对您提供优质内容的回馈，学生只有付款后才能打开/查看您新建的作业）*@</td>
        </tr>
        <tr>
            <td class="tright">关注了谁：</td>
            <td class="tleft relate">
                @if (ViewBag.RelateUser != null)
                {
                    foreach (var u in ViewBag.RelateUser)
                    {
                        <a href="javascript:void(0);" data-bind="@u.RUserId" class="ql" onclick="QueryRZy(@u.RUserId);">@(u.RUserName)(@(u.RTrueName == "" ? "" : u.RTrueName))</a>
                        <a href="javascript:void(0);" data-bind="@u.RUserId" class="del" onclick="CancelRelate(@u.RUserId);"></a>
                    }
                }
            </td>
            <td><a href="javascript:void(0);" class="icoadd" title="添加" onclick="AddRelate();"></a></td>
        </tr>
        <tr>
            <td class="tright">被谁关注：</td>
            <td class="tleft berelated">
                @if (ViewBag.BeRelatedUser != null)
                {
                    foreach (var u in ViewBag.BeRelatedUser)
                    {
                        <label href="javascript:void(0);" class="ql">@(u.UserName)(@(u.TrueName == "" ? "" : u.TrueName))</label>
                    }
                }
            </td>
            <td class=""></td>
        </tr>
    </table>
</div>
<div class="Relate st-roster" style="display:none; padding: 20px 10px; height:500px;">
    <img src="/Images/close.png" class="popclose" />
    <div class="queryrelate">
        <input id="keywords" placeholder="模糊搜索（用户名/真实姓名/班级）" /><a class="btn" onclick="query();">查询</a>
    </div>
    <div class="chooserelate">
        <div style="color:red; padding-bottom:5px;">（最多返回20条记录）</div>
        <table border="0" cellspacing="1" cellpadding="0" class="tab-default">
            <thead>
                <tr>
                    <th>序号</th>
                    <th>用户名</th>
                    <th>真实姓名</th>
                    <th>班级</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="tbody2"></tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        if ("@ViewBag.UserInfo.GradeId" != "0") {
            $(".gselecter").val("@ViewBag.UserInfo.GradeId");
        }

        if ("@ViewBag.UserInfo.ClassId" != "0") {
            $(".clsselecter").val("@ViewBag.UserInfo.ClassId");
        }
    })

    $(".truenamebtn").on("click", function () {
        var truename = $("#TrueNameInput").val();
        if (truename.length > 5) {
            dialogAlert("真实姓名长度不能大于5！");
            return;
        }

        $.post("/personal/UpdateTrueName",
            { trueName: truename },
            function (data) {
                if (data == "0") {
                    dialogAlert("修改成功！");
                }
                else {
                    dialogAlert("修改失败！");
                }
            })
    })

    $(".pselecter").on("change", function () {
        $(".dselecter").html("<option value='0'></option>");
        $(".sselecter").html("<option value='0'></option>");
        var pid = $(this).val();
        if (pid == 0) {
            $(".cselecter").html("<option value='0'></option>");
            return;
        }
        var html = "<option value='0'></option>";
        $.post("/personal/GetCites",
            { provinceId: pid },
            function (data) {
                for (var i = 0; i < data.length; i++) {
                    html += "<option value='" + data[i].CityId + "'>" + data[i].CityName + "</option>";
                }
                $(".cselecter").html(html);
            })
    })

    $(".cselecter").on("change", function () {
        $(".sselecter").html("<option value='0'></option>");
        var cid = $(this).val();
        if (cid == 0) {
            $(".dselecter").html("<option value='0'></option>");
            return;
        }
        var html = "<option value='0'></option>";
        $.post("/personal/GetDistricts",
            { cityId: cid },
            function (data) {
                for (var i = 0; i < data.length; i++) {
                    html += "<option value='" + data[i].DistrictId + "'>" + data[i].DistrictName + "</option>";
                }
                $(".dselecter").html(html);
            })
    })

    $(".dselecter").on("change", function () {
        var did = $(this).val();
        if (did == 0) {
            $(".sselecter").html("<option value='0'></option>");
            return;
        }
        var html = "<option value='0'></option>";
        $.post("/personal/GetSchools",
            { districtId: did },
            function (data) {
                for (var i = 0; i < data.length; i++) {
                    html += "<option value='" + data[i].SchoolId + "'>" + data[i].SchoolName + "</option>";
                }
                $(".sselecter").html(html);
            })
    })

    //班级修改
    $(".classbtn").on("click", function () {
        var pid = $(".pselecter").val();
        var cid = $(".cselecter").val();
        var did = $(".dselecter").val();
        var sid = $(".sselecter").val();
        var gid = $(".gselecter").val();
        var clsid = $(".clsselecter").val();

        $.post("/personal/UpdateUserClass",
            { provinceId: pid, cityId: cid, districtId: did, schoolId: sid, gradeId: gid, classId: clsid },
            function (data) {
                if (data == "0") {
                    if (pid != 0) $(".pselecter").attr("disabled", true);
                    if (cid != 0) $(".cselecter").attr("disabled", true);
                    if (did != 0) $(".dselecter").attr("disabled", true);
                    if (sid != 0) $(".sselecter").attr("disabled", true);
                    dialogAlert("修改成功！");
                }
                else {
                    dialogAlert("修改失败！");
                }
            })
    })

    //添加关注
    var AddRelate = function () {
        $("#keywords").val("");
        $("#tbody2").html("");
        $(".Relate").show();
        $('input').placeholder();
        $('body').prepend('<div class="shade fixed1"></div>');
    }

    $(".st-roster .popclose").click(function () {
        $(".Relate").hide();
        $(".shade").hide();
    })

    var query = function () {
        var html = "";
        $("#tbody2").html("<div><img style='vertical-align: middle;' src='/images/loader.gif'><b>正在查询中……</b></div>");
        var keywords = $("#keywords").val();
        $.post("/personal/SearchUser",
            { keyWords: keywords },
            function (json) {
                if (json.length != 0) {
                    for (var i = 0; i < json.length; i++) {
                        html += "<tr><td>" + (i + 1) + "</td><td>" + json[i].UserName + "</td><td>" + json[i].TrueName + "</td><td>" + json[i].Class + "</td><td><a href='javascript:void(0);' onclick=\"relate('" + json[i].Id + "','" + json[i].UserName + "','" + json[i].TrueName + "'); \">关注</a></td></tr>";
                    }
                    $("#tbody2").html(html);
                }
                else {
                    $("#tbody2").html("<tr><td colspan='4'>没有查询到任何信息！</td></tr>");
                }
            })
    }

    var relate = function (userid, username, truename)
    {
        $.post("/personal/Relate",
            { userId: userid },
            function (data) {
                if (data == "") {
                    $("td.relate").prepend("<a href='javascript:void(0);' data-bind='" + userid + "' class='ql' onclick='QueryRZy(" + userid + ");'>" + username + "(" + truename + ")</a><a href='javascript:void(0);' data-bind='" + userid + "' class='del' onclick=\"CancelRelate(" + userid + ");\"></a>");
                    $(".Relate").hide();
                    $(".shade").hide();
                }
                else {
                    alert(data);
                }
            })
    }

    var CancelRelate = function (userid)
    {
        Cancel_Data.UserId = userid;
        dialogConfirm("确定要取消关注吗？", CancelRelateOK, "");
    }

    var Cancel_Data = {
        UserId: 0
    }

    var CancelRelateOK = function () {
        $.post("/personal/CancelRelate",
            { userId: Cancel_Data.UserId },
            function (data) {
                if (data == "") {
                    $(".relate a").each(function () {
                        if ($(this).attr("data-bind") == Cancel_Data.UserId) {
                            $(this).hide();
                        }
                    })
                }
                else {
                    dialogAlert(data);
                }
            })
    }
</script>