<div class="inner-title">
    个人信息<label>【修改个人信息后需要点击右边的保存按钮才能生效】</label>
</div>
<div style="font-size:16px; margin-top:10px;">
    <table class="table table-bordered">
        <tbody>
            <tr>
                <td>用户名：</td>
                <td class="align-left">@ViewBag.UserInfo.UserName</td>
                <td class=""></td>
            </tr>
            <tr>
                <td>真实姓名：</td>
                <td class="align-left"><input type="text" id="TrueNameInput" value="@ViewBag.UserInfo.TrueName" /></td>
                <td class=""><a href="javascript:void(0);" class="truenamebtn icoedit save" title="保存"></a>@*<label class="cedit">（5位以内。修改后，您提交作业时将会默认使用此姓名）</label>*@</td>
            </tr>
            <tr>
                <td>学校信息：</td>
                <td class="align-left">
                    @*<b id="ClassB">@ViewBag.UserInfo.Class</b>
                    <input class="classinfo" type="text" id="ClassInput" value="" style="display:none" />*@
                    <div class="tpanal">
                        <p class="panal_title">学校信息设置之后不能修改，请谨慎选择！</p>
                    
                        <div class="tselect">
                            @if (ViewBag.UserInfo.SchoolId == 0)
                            {
                                <label class="tselect_tip">省：</label>
                                <select class="pselecter short">
                                    <option value="0"></option>
                                    @foreach (var p in ViewBag.Provinces)
                                    {
                                        <option value="@p.Key">@p.Value</option>
                                    }
                                </select>
                                <label class="tselect_tip">市：</label>
                                <select class="cselecter short">
                                    <option value="0"></option>
                                </select>
                                <label class="tselect_tip">区：</label>
                                <select class="dselecter long">
                                    <option value="0"></option>
                                </select>
                            
                                <div class="ss">
                                    <label>学校：</label>
                                    <input class="schinput long" placeholder="在结果中搜索、点右边箭头展开" />
                                    <select class="sselecter long" style="position:relative;">
                                        <option value="0"></option>
                                    </select>
                                </div>
                            }
                            else
                            {
                                <label class="tselect_tip">省：</label>
                                <select disabled class="pselecter short">
                                    <option value="@ViewBag.UserInfo.ProvinceId">@ViewBag.UserInfo.ProvinceName</option>
                                </select>
                                <label class="tselect_tip">市：</label>
                                <select disabled class="cselecter short">
                                    <option value="@ViewBag.UserInfo.CityId">@ViewBag.UserInfo.CityName</option>
                                </select>
                                <label class="tselect_tip">区：</label>
                                <select disabled class="dselecter long">
                                    <option value="@ViewBag.UserInfo.DistrictId">@ViewBag.UserInfo.DistrictName</option>
                                </select>
                                <div>
                                    <label>学校：</label>
                                    <select disabled class="sselecter long">
                                        <option value="@ViewBag.UserInfo.SchoolId">@ViewBag.UserInfo.SchoolName</option>
                                    </select>
                                </div>
                            }
                        </div>
                    </div>
                </td>
                <td>
                    @if (ViewBag.UserInfo.SchoolId == 0)
                    {
                        <a href="javascript:void(0);" class="schoolbtn icoedit save" title="保存"></a>
                    }
                    else
                    {
                        <a href="javascript:void(0);" class="applybtn icoapply" onclick="RequestModify();" title="提交修改申请"></a>
                    }
                </td>
            </tr>
            <tr>
                <td>班级信息：</td>
                <td class="align-left">
                    <div class="tpanal">
                        <p class="panal_title">修改年级/班级信息会对作业的提交报表产生影响，请勿随意修改！</p>
                        <div class="tselect">
                            <label class="tselect_tip">年级：</label>
                        <select class="gselecter short">
                            <option value="0"></option>
                            @foreach (var c in ViewBag.Grades)
                            {
                                <option value="@c.Key">@c.Value</option>
                            }
                        </select>
                        <label class="tselect_tip">班级：</label>
                        <select class="clsselecter short">
                            <option value="0"></option>
                            @for (int i = 1; i < 100; i++)
                            {
                                <option value=@i>@(i)班</option>
                            }
                        </select>
                        </div>
                    </div>
                </td>
                <td>
                    <a href="javascript:void(0);" class="classbtn icoedit save" title="保存"></a>
                </td>
            </tr>
            <tr>
                <td>作业收费：</td>
                <td class="align-left">0元</td>
                <td class="">暂未开放<br/>@*（作为对您提供优质内容的回馈，学生只有付款后才能打开/查看您新建的作业）*@</td>
            </tr>
        </tbody>
    </table>
</div>


<script type="text/javascript">
    $(function () {
        if ("@ViewBag.UserInfo.GradeId" != "0") {
            $(".gselecter").val("@ViewBag.UserInfo.GradeId");
        }

        if ("@ViewBag.UserInfo.ClassId" != "0") {
            $(".clsselecter").val("@ViewBag.UserInfo.ClassId");
        }
    })

    $(".truenamebtn").on("click", function () {
        var truename = $("#TrueNameInput").val();
        if (truename.length > 5) {
            dialogAlert("真实姓名长度不能大于5！");
            return;
        }

        $.post("/personal/UpdateTrueName",
            { trueName: truename },
            function (data) {
                if (data == "0") {
                    dialogAlert("修改成功！");
                }
                else {
                    dialogAlert("修改失败！");
                }
            })
    })

    $(".pselecter").on("change", function () {
        $(".dselecter").html("<option value='0'></option>");
        $(".sselecter").html("<option value='0'></option>");
        var pid = $(this).val();
        if (pid == 0) {
            $(".cselecter").html("<option value='0'></option>");
            return;
        }
        var html = "<option value='0'></option>";
        $.post("/personal/GetCites",
            { provinceId: pid },
            function (data) {
                for (var i = 0; i < data.length; i++) {
                    html += "<option value='" + data[i].CityId + "'>" + data[i].CityName + "</option>";
                }
                $(".cselecter").html(html);
            })
    })

    $(".cselecter").on("change", function () {
        $(".sselecter").html("<option value='0'></option>");
        var cid = $(this).val();
        if (cid == 0) {
            $(".dselecter").html("<option value='0'></option>");
            return;
        }
        var html = "<option value='0'></option>";
        $.post("/personal/GetDistricts",
            { cityId: cid },
            function (data) {
                for (var i = 0; i < data.length; i++) {
                    html += "<option value='" + data[i].DistrictId + "'>" + data[i].DistrictName + "</option>";
                }
                $(".dselecter").html(html);
            })
    })

    $(".dselecter").on("change", function () {
        searchSchools();
        showSchools();
    })

    var cur_Schools = [];

    var searchSchools = function () {
        cur_Schools = [];
        var did = $(".dselecter").val();
        if (did == 0) {
            $(".sselecter").html("<option value='0'></option>");
            return;
        }
        
        $.ajax({
            url: "/personal/SearchSchools",
            type: "post",
            async: false,
            data: { districtId: did, keyWords: "" },
            success: function (data) {
                for (var i = 0; i < data.length; i++) {
                    cur_Schools.push(data[i].SchoolId + "_!" + data[i].SchoolName);
                }
            }
        })
    }

    //根据搜索出来的学校数组，结合搜索词，重置下拉框中显示的学校
    var showSchools = function () {
        if (cur_Schools.length == 0) return;
        var keyWords = $(".schinput").val();
        
        var html = "<option value='0'></option>";
        if (keyWords == "") {
            for (var i = 0; i < cur_Schools.length; i++) {
                html += "<option value='" + cur_Schools[i].split("_!")[0] + "'>" + cur_Schools[i].split("_!")[1] + "</option>";
            }
        }
        else {
            for (var i = 0; i < cur_Schools.length; i++) {
                var ss = cur_Schools[i].split("_!");
                if (ss[1].indexOf(keyWords) != -1) {
                    html += "<option value='" + ss[0] + "'>" + ss[1] + "</option>";
                }
            }
        }
        $(".sselecter").html(html);
    }

    $(".schinput").focus(function () {
        var did = $(".dselecter").val();
        if (!did || did == 0) {
            $(".dselecter").css("border", "1px solid red");
            return;
        }
    })

    //从下拉框中搜索学校
    $(".schinput").on("change", function () {
        showSchools();
    })

    //从下拉框中搜索到学校并选中
    $(".schinput").on("blur", function () {
        $(".dselecter").css("border", "1px solid #dfdfdf");
    })

    $(".sselecter").on("change", function () {
        $(".schinput").val($(this).find("option:selected").text());
    })

    //学校修改
    $(".schoolbtn").on("click", function () {
        var pid = $(".pselecter").val();
        var cid = $(".cselecter").val();
        var did = $(".dselecter").val();
        var sid = $(".sselecter").val();

        if (!sid || sid == 0) {
            dialogAlert("请从学校下拉框中选择学校！");
            return false;
        }

        $.post("/personal/UpdateUserSchool",
            { provinceId: pid, cityId: cid, districtId: did, schoolId: sid },
            function (data) {
                if (data == "0") {
                    $(".pselecter").attr("disabled", true);
                    $(".cselecter").attr("disabled", true);
                    $(".dselecter").attr("disabled", true);
                    $(".sselecter").attr("disabled", true);
                    $(".schinput").attr("disabled", true);
                    dialogAlert("修改成功！");
                }
                else {
                    dialogAlert("修改失败！");
                }
            })
    })

    //班级修改
    $(".classbtn").on("click", function () {
        var gid = $(".gselecter").val();
        var clsid = $(".clsselecter").val();
        
        $.post("/personal/UpdateUserClass",
            { gradeId: gid, classId: clsid },
            function (data) {
                if (data == "0") {
                    dialogAlert("修改成功！");
                }
                else {
                    dialogAlert("修改失败！");
                }
            })
    })
</script>