<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta name="keywords" content="@ViewBag.Keywords">
    <meta name="description" content="@ViewBag.Description">
    <link rel="stylesheet" href="/Content/css.css?v=20171107" />
    <link rel="stylesheet" href="/Content/viewer.min.css" />
    <link href="/Scripts/artDialog/css/ui-dialog.css" rel="stylesheet" />
    @RenderSection("css", required: false)
    <script type="text/javascript" src="/Scripts/jquery-1.10.2.min.js"></script>
    <script src="/Scripts/artDialog/dialog.js"></script>
    <script type="text/javascript" src="/Scripts/viewer-jquery.min.js"></script>
    <script src="/Scripts/easyzy.common.js"></script>
    @RenderSection("scriptfirst", false)
</head>
<body>
    <div class="content-container">
        <div class="wrap">
            <div class="header-wrap">
                <div class="head">
                    <div class="left">
                        <a href="/home"><img src="~/Images/easyzy.png" class="logo" /></a>
                        
                    </div>
                    <div class="right">
                        <a href="javascript:void(0);" onclick="login();">登录</a> | <a href="javascript:void(0);" onclick="reguser();">注册</a> | <a href="javascript:void(0);" onclick="">使用帮助</a> | <a href="javascript:void(0);">更新日志</a>
                        @*<div class="reg">
                            <div class="title">注册</div>
                            <div class="info">
                                <input type="text" placeholder="请输入用户名" /><br/>
                                <input type="text" placeholder="请输入密码" /><br />
                                <input type="text" placeholder="确认密码" />
                            </div>
                            <div class="btn">

                            </div>
                        </div>*@
                    </div>
                </div>
            </div>
            <div class="content-wrap">
                @RenderBody()
                @RenderSection("scripts", false)
            </div>
            <div class="foot-wrap">
                <div class="foot">
                    <p>&copy; @DateTime.Now.Year - 易作业 | 简单、易用、随用随走</p>
                    
                </div>
            </div>
        </div>
    </div>
</body>
</html>
