@{
    ViewBag.Title = "易作业-作业详情";
    Layout = "~/areas/list/Views/Shared/_Layout.cshtml";
}
@*<div class="slider">
        <div class="pic-field">
            <img src="/Images/boshimao.png" width="400" />
        </div>
    </div>*@
<div class="content-nav">当前位置：<a href="http://easyzy.com">首页</a> > <a href="/zy/query">查看作业</a> > 详情</div>
<div class="content">
    <div class="main-content">
        @if (ViewBag.ErrorMsg != null)
        {
            <div style="padding-top:20px;">@ViewBag.ErrorMsg</div>
        }
        else
        {
        <div class="zyquery">
            <b>作业编号：@ViewBag.ZyNum</b>
        </div>
        <div class="zyopen">
            <ul>
                <li class="left active body">题文</li>
                @if (ViewBag.AnswerHtml != "")
                {
                <li class="f1 answer">答案/解析</li>
                }
            </ul>
            <iframe name="ifraRight" id="ifraBody" style="width:100%;" src="@(ViewBag.UploadUrl)@(ViewBag.BodyHtml)" frameborder="0" scrolling="no"></iframe>
            @if (ViewBag.AnswerHtml != "")
            {
            <iframe name="ifraRight" id="ifraAnswer" style="width:100%;" src="@(ViewBag.UploadUrl)@(ViewBag.AnswerHtml)" frameborder="0" scrolling="no"></iframe>
            }
        </div>
        }
    </div>
</div>
<div class="fixed writetip">
    <a title="打开答题卡" class="write"><img src="/Images/write.png" width="70" height="70" /></a>
</div>
@if (ViewBag.ErrorMsg == null)
{
    <div class="fixed answercard">
        <div class="ques">
            <div class="cardtitle">@ViewBag.TrueName<img src="/Images/close.png" class="popclose" style="top:-14px; right:-11px;" onclick="closepop();" /></div>
            @if (ViewBag.AnswerCard != null)
            {
                foreach (var q in ViewBag.AnswerCard)
                {
                    <div class="left objective">
                        <b>@(q.BqNum)@if (q.SqNum != 0)
                        {<b>-@(q.SqNum)</b>}</b>
                    
                        <b>.（@q.QuesAnswer）</b>
                        @if (q.QuesAnswer.Length == 1)
                        {
                            <span><a href="javascript:void(0);" class="rdo @(q.Answer == "A" ? "choose" : "unchoose")">A</a><a href="javascript:void(0);" class="rdo @(q.Answer == "B" ? "choose" : "unchoose")">B</a><a href="javascript:void(0);" class="rdo @(q.Answer == "C" ? "choose" : "unchoose")">C</a><a href="javascript:void(0);" class="rdo @(q.Answer == "D" ? "choose" : "unchoose")">D</a></span>
                        }
                        else
                        {
                            <span><a href="javascript:void(0);" class="chk @(q.Answer.Contains("A") ? "choose" : "unchoose")">A</a><a href="javascript:void(0);" class="chk @(q.Answer.Contains("B") ? "choose" : "unchoose")">B</a><a href="javascript:void(0);" class="chk @(q.Answer.Contains("C") ? "choose" : "unchoose")">C</a><a href="javascript:void(0);" class="chk @(q.Answer.Contains("D") ? "choose" : "unchoose")">D</a></span>
                        }
                    </div>

                }
            }

            <div class="anspiclist">
                @if (ViewBag.AnswerImg != "")
                {
                    <ul id="imglistul">
                        @{string[] imgl = ViewBag.AnswerImg.Split(',');}
                        @foreach (string s in imgl)
                        {
                            <li class="left"><img src=@(ViewBag.UploadUrl)@(s) width='80' height='80' alt="" style="cursor:pointer;" /></li>
                        }
                    </ul>
                            }
            </div>

        </div>
    </div>
}
<script type="text/javascript">
    document.domain = "easyzy.com";  //必须加上才能读到iframe内控件，因为跨域

    $("#imglistul").viewer({
        url: 'data-original'
    });

    //打开弹窗
    $(".write").on("click", function () {
        $(".answercard").show();
        $(this).hide();
    })

    //弹窗关闭
    var closepop = function () {
        $(".answercard").hide();
        $(".write").show();
    }

    var preview = function () {
        $(".preview").show();
        $('body').prepend('<div class="shade fixed1"></div>');
    }

    $(".zyopen li").on("click", function () {
        if (!$(this).hasClass("active")) {
            $(this).addClass("active").siblings().removeClass("active");
            if ($(this).hasClass("body")) {
                $(".zyopen #ifraBody").show();
                $(".zyopen #ifraAnswer").hide();
            }
            else {
                $(".zyopen #ifraBody").hide();
                $(".zyopen #ifraAnswer").show();
            }
        }
    })

    $("#ifraBody").load(function () {
        var h = $(this).contents().find("input[name='myhight']").val();
        $(this).height(h);
    })

    $("#ifraAnswer").load(function () {
        var h = $(this).contents().find("input[name='myhight']").val();
        $(this).height(h);
    })
</script>