@using bbs.easyzy.model.dto;
@if (ViewBag.List != null)
{
    foreach (dto_Topic t in ViewBag.List)
    {
        <article class="format-standard type-post hentry clearfix">
            <header class="clearfix">
                <h3 class="post-title">
                    <i>?</i>
                    <a href="/topic/detail?id=@(t.Id)">@t.Title</a>
                </h3>

                <div class="post-meta clearfix">
                    <span class="category">@(t.UserName)【@(t.TrueName)】</span>
                    <span class="invites" title="@t.Invites">@(t.Invites.Length > 30 ? string.Concat(t.Invites.Substring(0, 30), "...") : t.Invites)</span>
                    <span class="date">@t.CreateDate.ToString("yyyy-MM-dd HH:mm:ss")</span>
                    <span class="grade">@t.GradeName @t.SubjectName</span>
                    <span class="comments">@t.ReplyCount</span>
                    <span class="like-count">@t.Good</span>
                </div>
            </header>
            <p>@t.TopicText<a class="readmore-link" href="/topic/detail?id=@(t.Id)">Read more</a></p>
        </article>
    }
}

<div style="display:none"><div id="PageCountDiv">@ViewBag.PageCount</div></div>

