@using hw.easyzy.model.dto;
@{var list = Model as List<dto_Answer3>; }

@if (list != null)
{
    for (int i = 0; i < list.Count; i++)
    {
        <tr>
            <td>@(i+1)</td>
            <td><a href="javascript:void(0);" onclick="ViewStudentZy('@list[i].TrueName');">@list[i].TrueName</a></td>
            <td>@list[i].CreateDate.ToString("yyyy-MM-dd HH:mm:ss")</td>
            <td>@list[i].ObjectiveQuesCorrectCount / @list[i].ObjectiveQuesCount</td>
            <td><img src="/Images/fangdajing.jpg" width="30" height="30" style="padding-top:20px; cursor:pointer;" onclick="check('@list[i].TrueName');" /></td>
        </tr>
    }
}
else
{
    <tr><td colspan="5">暂无任何人提交此作业！</td></tr>
}


