<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <meta name="keywords" content="@ViewBag.Keywords">
    <meta name="description" content="@ViewBag.Description">
    <link rel="stylesheet" href="/Content/css.css?v=20171107" />
    <link href="/Scripts/artDialog/css/ui-dialog.css" rel="stylesheet" />
    @RenderSection("css", required: false)
    <script type="text/javascript" src="/Scripts/jquery-1.10.2.min.js"></script>
    <script src="/Scripts/artDialog/dialog.js"></script>
    @RenderSection("scriptfirst", false)
</head>
<body>
    <div class="container body-content">
        <div class="content-wrap">
            @RenderBody()
            @RenderSection("scripts", false)
        </div>
        <div class="foot-wrap">
            <div class="foot">
                <p>&copy; @DateTime.Now.Year - 易作业 | 简单、易用、随用随走</p>

            </div>
        </div>
    </div>
</body>
</html>
