@using easyzy.model.dto;
@{var list = Model as List<dto_Answer2>; }

<div class="bottom-shard answercard">
    @if (list != null)
    {
        foreach (var q in list)
        {
            <div class="left objective">
                <b>@(q.BqNum)@if (q.SqNum != 0)
                {<b>-@(q.SqNum)</b>}.</b>
                <b>（@q.QuesAnswer）</b>
                @if (q.QuesAnswer.Length == 1)
                {
                    <span><a href="javascript:void(0);" class="rdo @(q.Answer == "A" ? "choose" : "unchoose")">A</a><a href="javascript:void(0);" class="rdo @(q.Answer == "B" ? "choose" : "unchoose")">B</a><a href="javascript:void(0);" class="rdo @(q.Answer == "C" ? "choose" : "unchoose")">C</a><a href="javascript:void(0);" class="rdo @(q.Answer == "D" ? "choose" : "unchoose")">D</a></span>
                }
                else
                {
                    <span><a href="javascript:void(0);" class="chk @(q.Answer.Contains("A") ? "choose" : "unchoose")">A</a><a href="javascript:void(0);" class="chk @(q.Answer.Contains("B") ? "choose" : "unchoose")">B</a><a href="javascript:void(0);" class="chk @(q.Answer.Contains("C") ? "choose" : "unchoose")">C</a><a href="javascript:void(0);" class="chk @(q.Answer.Contains("D") ? "choose" : "unchoose")">D</a></span>
                }
            </div>
        }
    }
</div>
<div class="bottom-shard piccard">
    <div class="anspiclist">
        @if (ViewBag.AnswerImg != "")
        {
            <ul id="imglistul">
                @{string[] imgl = ViewBag.AnswerImg.Split(',');}
                @foreach (string s in imgl)
                {
                    <li class="left"><img src=@(ViewBag.UploadUrl)@(s) width='50' height='50' alt="" style="cursor:pointer;" /></li>
                }
            </ul>
        }
    </div>
</div>
