@{
    ViewBag.Title = "易作业-新建题库作业";
    Layout = "~/areas/create/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    

</style>
<div class="content-nav">当前位置：<a href="http://easyzy.com">首页</a> > 新建 > 题库作业</div>
<div class="content-title">
    <div class="page-top">
        <div class="page-nav">
            <div class="kct left">
                <div class="select-header">
                    <div class="selectkc">
                        <div class="left currentkc" data-bind="26">高中语文</div>
                        <div class="left" style="padding-top: 15px;padding-left: 4px;">
                            <div class="white-line"></div>
                            <div class="white-line"></div>
                            <div class="white-line"></div>
                        </div>
                    </div>

                </div>
                <ul class="stage-list">
                    <li class="stage">
                        <span>高中</span>
                        <ul>
                            <li>
                                @foreach (var s in ViewBag.SeniorCourses)
                                {
                                    <a class="left" data-bind="@s.Key">@s.Value</a>
                                }
                            </li>
                        </ul>
                    </li>
                    <li class="stage">
                        <span>初中</span>
                        <ul>
                            <li>
                                @foreach (var s in ViewBag.JuniorCourses)
                                {
                                    <a class="left" data-bind="@s.Key">@s.Value</a>
                                }
                            </li>
                        </ul>
                    </li>
                    <li class="stage">
                        <span>小学</span>
                        <ul>
                            <li>
                                @foreach (var s in ViewBag.PrimaryCourses)
                                {
                                    <a class="left" data-bind="@s.Key">@s.Value</a>
                                }
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="zj page-func left active" data-bind="0">章节选题</div>
            <div class="kpt page-func left" data-bind="1">知识点选题</div>
            <div class="paper page-func left" data-bind="2">套卷选题</div>
        </div>
        <div class="basket"></div>
    </div>
</div>
<div class="content">
    <div class="main-content" style="background:#f4f4f4; width:1200px; padding: 0;">
        <div class="treeoverall">
            <div class="jcchoose">
                <div class="jctip">
                    人教版 必修1
                </div>
                <div class="jcall">
                    <div class="bblist">
                        <span>版本:</span>
                        <ul>
                            
                        </ul>
                    </div>
                    <div class="jclist">
                        <span>教材</span>
                        <ul>
                            
                        </ul>
                    </div>
                    
                </div>
            </div>
            <div class="treeshow ztree">

            </div>
        </div>
        <div class="quesoverall">


        </div>
    </div>
</div>

@section css{
    <link rel="stylesheet" href="/scripts/ztree/zTreeStyle/zTreeStyle.css" />
}

@section scriptlast{
    <script type="text/javascript" src="/scripts/jquery.cookie.js"></script>
    <script type="text/javascript" src="/scripts/ztree/jquery.ztree.core.min.js"></script>
}

<script type="text/javascript">
    //有选择过课程，则以cookie记录的课程为默认课程
    //否则默认高中语文
    var cur_data = {
        default_courseId: 26,
        default_courseName: "高中语文"
    }

    $(function () {
        var defaultCourse = $.cookie("easyzy.basket.defaultcourse");
        if (defaultCourse) {
            cur_data.default_courseId = defaultCourse.split('|')[0];
            cur_data.default_courseName = defaultCourse.split('|')[1];
        }
        $(".currentkc").attr("data-bind", cur_data.default_courseId).html(cur_data.default_courseName);
        $(".stage-list li a[data-bind='" + cur_data.default_courseId + "']").addClass("active");
        //默认根据章节选题，加载教材版本
        LoadTextBookVersions();
    })

    //弹层显示、隐藏以及一些页面交互
    $(".select-header, .page-nav .stage-list").on("mouseover", function () {
        $(".page-nav .stage-list").show();
    });

    $(".page-nav .kct").on("mouseout", function () {
        $(".page-nav .stage-list").hide();
    })

    $(".treeoverall .jctip, .treeoverall .jcall").on("mouseover", function () {
        $(".treeoverall .jcall").show();
    });

    $(".treeoverall .jcchoose").on("mouseout", function () {
        $(".treeoverall .jcall").hide();
    })

    $(".page-nav .page-func").on("click", function () {
        $(this).addClass("active").siblings().removeClass("active");
        var type = $(".page-nav .page-func.active").attr("data-bind");
        if (type == 0) {
            LoadTextBookVersions();
        }
        else if (type == 1) {
            LoadKPTree();
        }
    })

    $(".treeoverall .jclist li").on("click", function () {
        $(this).addClass("active").siblings().removeClass("active");
    })

    //选择课程
    $(".page-nav .stage-list .stage li a").on("click", function () {
        $(this).addClass("active").siblings().removeClass("active").parents(".stage").siblings().find("a").removeClass("active");
        var id = $(this).attr("data-bind");
        var name = $(this).parents("ul").siblings("span").html() + $(this).html();
        $(".currentkc").attr("data-bind", id);
        $(".currentkc").html(name);

        var s = id + "|" + name;
        $.cookie("easyzy.basket.defaultcourse", s, { expires: 30, path: '/' });
        $(".page-nav .stage-list").hide();

        var type = $(".page-nav .page-func.active").attr("data-bind");
        if (type == 0) {
            LoadTextBookVersions();
        }
        else if(type == 1) {
            LoadKPTree();
        }
    })

    //加载教材版本
    var LoadTextBookVersions = function () {
        var courseid = $(".currentkc").attr("data-bind");
        var html = "";
        $.post("qdb/GetTextBookVersions",
            {courseId: courseid},
            function (data) {
                for (var i = 0; i < data.length; i++) {
                    if (i == 0) {
                        html += "<li data-bind='" + data[i].Id + "' class='active'>" + data[i].Name + "</li>";
                    }
                    else {
                        html += "<li data-bind='" + data[i].Id + "'>" + data[i].Name + "</li>";
                    }
                }
                $(".treeoverall .bblist ul").html(html);

                $(".treeoverall .bblist li").on("click", function () {
                    $(this).addClass("active").siblings().removeClass("active");
                    LoadTextBooks();
                })

                //加载第一个版本的课本
                LoadTextBooks();
            })
    }

    //加载课本
    var LoadTextBooks = function () {
        var versionid = $(".treeoverall .bblist li.active").attr("data-bind");
        var html = "";
        $.post("qdb/GetTextBooks",
            { versionId: versionid },
            function (data) {
                for (var i = 0; i < data.length; i++) {
                    if (i == 0) {
                        html += "<li data-bind='" + data[i].Id + "' class='active'>" + data[i].Volume + "</li>";
                    }
                    else {
                        html += "<li data-bind='" + data[i].Id + "'>" + data[i].Volume + "</li>";
                    }
                }
                $(".treeoverall .jclist ul").html(html);
                //显示当前课本名称
                ShowCurrentBook();
                $(".treeoverall .jclist li").on("click", function () {
                    $(this).addClass("active").siblings().removeClass("active");
                    ShowCurrentBook();
                    LoadZJTree();
                    $(".treeoverall .jcall").hide();
                })
                //加载第一个课本的章节树
                LoadZJTree();
            })
    }

    //显示当前的书名
    var ShowCurrentBook = function () {
        var tbvName = $(".bblist li.active").html();
        var tbName = $(".jclist li.active").html();

        $(".treeoverall .jctip").html(tbvName + " " + tbName);
    }

    //树配置
    var zTreeObj;
    // zTree 的参数配置，深入使用请参考 API 文档（setting 配置详解）
    var settingKP = {
        view: {
            dblClickExpand: false,
            showLine: true,
            selectedMulti: false
        },
        data: {
            simpleData: {
                enable: true,
                idKey: "id",
                pIdKey: "pId",
                rootPId: "0"
            }
        },
        callback: {
            onClick: kpzTreeOnClick

        }
    };

    var settingZJ = {
        view: {
            dblClickExpand: false,
            showLine: true,
            selectedMulti: false
        },
        data: {
            simpleData: {
                enable: true,
                idKey: "id",
                pIdKey: "pId",
                rootPId: "0"
            }
        },
        callback: {
            onClick: zjzTreeOnClick

        }
    };

    //加载章节树
    var LoadZJTree = function () {
        var courseId = $(".currentkc").attr("data-bind");
        var bookId = $(".treeoverall .jclist li.active").attr("data-bind");
        
        $(".treeshow").html("<div><img src='/images/loader.gif'><b>正在加载……</b></div>");
        $.post("qdb/GetCatalogTree", { textbookId: bookId }, function (data) {
            if (data != "null") {
                zTreeObj = $.fn.zTree.init($(".treeshow"), settingZJ, data);
            }
            else {
                $(".treeshow").html("<div align='center'>没有相关目录结构！</div>");
            }
        })
    }

    //加载知识点树
    var LoadKPTree = function () {
        var courseId = $(".currentkc").attr("data-bind");

        $(".treeshow").html("<div><img src='/images/loader.gif'><b>正在加载……</b></div>");
        $.post("qdb/GetKnowledgePointTree", { courseId: courseId }, function (data) {
            if (data != "null") {
                zTreeObj = $.fn.zTree.init($(".treeshow"), settingKP, data);
            }
            else {
                $(".treeshow").html("<div align='center'>没有相关目录结构！</div>");
            }
        })
    }

    var kpzTreeOnClick = function () {


    }

    var zjzTreeOnClick = function () {

    }

</script>