@{
    ViewBag.Title = "易作业-新建题库作业";
    Layout = "~/areas/create/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    #pager{padding:20px 0; background:#fff;overflow:hidden; margin:20px 0;}
    .pques{border:1px solid #deedff; margin-top:10px;}
    .qtitle, .pbody, .panswerparse{padding:10px 10px; }
    .qtitle{background:#f4f9ff; overflow:hidden;}
    .qtitle .qtleft{float:left;}
    .qtitle .qtleft span{padding-right:20px;}
    .qtitle .qtright{float:right;}
    .qtitle .qtright .addone{padding: 3px 6px;color: #fff;}
    .qtitle .qtright .addone.join{background: #32ca73;}
    .qtitle .qtright .addone.remove{background:#333;}
    .pques .poption span.option{padding:5px 10px;} 
    .panswerparse{display:none;}
    .pques .dotted{height: 30px;background: url(/images/dotted.png) repeat-x 0px 10px;margin: 10px 10px 0px 10px;color: #0088cc;}
    .pques .dotted .show{width: 100px;float: left;cursor: pointer; background:#fff;}
</style>
<div class="content-nav">当前位置：<a href="http://easyzy.com">首页</a> > 新建 > 题库作业</div>
<div class="content-title">
    <div class="page-top">
        <div class="page-nav">
            <div class="kct left">
                <div class="select-header">
                    <div class="selectkc">
                        <div class="left currentkc" data-bind="26">高中语文</div>
                        <div class="left" style="padding-top: 15px;padding-left: 4px;">
                            <div class="white-line"></div>
                            <div class="white-line"></div>
                            <div class="white-line"></div>
                        </div>
                    </div>

                </div>
                <ul class="stage-list">
                    <li class="stage">
                        <span>高中</span>
                        <ul>
                            <li>
                                @foreach (var s in ViewBag.SeniorCourses)
                                {
                                    <a class="left" data-bind="@s.Key">@s.Value</a>
                                }
                            </li>
                        </ul>
                    </li>
                    <li class="stage">
                        <span>初中</span>
                        <ul>
                            <li>
                                @foreach (var s in ViewBag.JuniorCourses)
                                {
                                    <a class="left" data-bind="@s.Key">@s.Value</a>
                                }
                            </li>
                        </ul>
                    </li>
                    <li class="stage">
                        <span>小学</span>
                        <ul>
                            <li>
                                @foreach (var s in ViewBag.PrimaryCourses)
                                {
                                    <a class="left" data-bind="@s.Key">@s.Value</a>
                                }
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="zj page-func left active" data-bind="0">章节选题</div>
            <div class="kpt page-func left" data-bind="1">知识点选题</div>
            <div class="paper page-func left" data-bind="2">套卷选题</div>
        </div>
        <div class="basket">
            <div class="bpic">
                <span class="bcount">0</span>试题篮
            </div>
            <div class="detail">
                <div class="title">
                    共计<span>10</span>题
                </div>
                <div class="body">
                    @*<div class="line"><label class="qtn">选择题</label><label class="qtc">7</label><a href="#">删除</a></div>
                    <div class="line"><label class="qtn">填空题</label><label class="qtc">2</label><a href="#">删除</a></div>
                    <div class="line"><label class="qtn">完形填空题</label><label class="qtc">2</label><a href="#">删除</a></div>*@
                </div>
                <div class="foot">
                    <a class="clearbasket" href="#">全部清空</a><a class="viewbasket" href="#">浏览试题篮</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="main-content" style="background:#f4f4f4; width:1200px; padding: 0;">
        <div class="treeoverall">
            <div class="jcchoose">
                <div class="jctip">
                    人教版 必修1
                </div>
                <div class="jcall">
                    <div class="bblist">
                        <span>版本:</span>
                        <ul></ul>
                    </div>
                    <div class="jclist">
                        <span>教材</span>
                        <ul></ul>
                    </div>

                </div>
            </div>
            <div class="treeshow ztree">

            </div>
        </div>
        <div class="quesoverall">
            <div class="quessearch">
                <div class="line questype">

                </div>
                <div class="line difftype">
                    <b>难度：</b><a href="#" data-bind="0" class="active">全部</a> <a data-bind="1" href="#">容易</a><a data-bind="2" href="#">较易</a><a data-bind="3" href="#">一般</a>
                    <a data-bind="4" href="#">较难</a><a data-bind="5" href="#">困难</a>
                </div>
                <div class="line quesyear">
                    @{ int year = DateTime.Now.Year; int year1 = year - 1; int year2 = year - 2; int year3 = year - 3; int year4 = (year - 4) * -1;}
                    <b>年份：</b><a href="#" class="active" data-bind="0">全部</a>
                    <a href="#" data-bind="@year">@year</a>
                    <a href="#" data-bind="@year1">@year1</a>
                    <a href="#" data-bind="@year2">@year2</a>
                    <a href="#" data-bind="@year3">@year3</a>
                    <a href="#" data-bind="@year4">更早以前</a>
                </div>
            </div>
            @*<div class="quesrandom">
                <div class="tip">
                    随机出题，按照主客观题1：2的比例，随机选择最近3年内的试题！
                </div>
                <div>
                    <b>数量：</b><input class="randomcount" placeholder="20以内" /><b class="rcounttip">（数量必须是小于等于20的正整数）</b><br />
                    <a href="#" class="rgq">出 题</a>
                </div>
            </div>*@
            <div class="resulttitle">
                <a href="javascript:void(0);" class="chk unchoosed showanswer">显示答案</a>@*<a href="javascript:void(0);" class="addall"><b>+</b> 全部加入试题篮</a>*@
            </div>
            <div class="queryresult">

            </div>
            <div id="pager" class="zypager"></div>
        </div>
    </div>
</div>

@section css{
    <link rel="stylesheet" href="/scripts/ztree/zTreeStyle/zTreeStyle.css" />
}

@section scriptlast{
    <script type="text/javascript" src="/scripts/jquery.cookie.js"></script>
    <script type="text/javascript" src="/scripts/ztree/jquery.ztree.core.min.js"></script>
    <script type="text/javascript" src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
}

<script type="text/javascript">
    //有选择过课程，则以cookie记录的课程为默认课程
    //否则默认高中语文
    var cur_data = {
        default_courseId: 26,
        default_courseName: "高中语文",
        type: 0,
        nodeid: 0,
        pageindex: 1,
        pagesize: 10
    }

    $(function () {
        var defaultCourse = $.cookie("easyzy.basket.defaultcourse");
        if (defaultCourse) {
            cur_data.default_courseId = defaultCourse.split('|')[0];
            cur_data.default_courseName = defaultCourse.split('|')[1];
        }
        $(".currentkc").attr("data-bind", cur_data.default_courseId).html(cur_data.default_courseName);
        $(".stage-list li a[data-bind='" + cur_data.default_courseId + "']").addClass("active");
        //初始化试题篮显示的试题数量
        initBasketCount();
        //加载默认课程的题型
        LoadQuesTypes();
        //默认根据章节选题，加载教材版本
        LoadTextBookVersions();
    })

    //弹层显示、隐藏以及一些页面交互
    $(".select-header, .page-nav .stage-list").on("mouseover", function () {
        $(".page-nav .stage-list").show();
    });

    $(".page-nav .kct").on("mouseout", function () {
        $(".page-nav .stage-list").hide();
    })

    $(".treeoverall .jctip, .treeoverall .jcall").on("mouseover", function () {
        $(".treeoverall .jcall").show();
    });

    $(".treeoverall .jcchoose").on("mouseout", function () {
        $(".treeoverall .jcall").hide();
    })

    $(".basket").on("mouseover", function () {
        LoadQuesBasket();
        $(".basket .detail").show();
    });

    $(".basket").on("mouseout", function () {
        $(".basket .detail").hide();
    })

    $(".quessearch a").on("click", function () {
        $(this).addClass("active").siblings().removeClass("active");
        cur_data.pageindex = 1;
        SearchQuestions();
    })

    $(".randomcount").on("keydown", function () {
        $(".rcounttip").hide();
    })

    //初始化试题篮显示数量
    var initBasketCount = function () {
        var i = 0;

        var quesbasket = $.cookie("easyzy.quesbasket");
        if (quesbasket) {
            var queslist = quesbasket.split(',');
            i = queslist.length;
        }
        $(".bcount").html(i);
        $(".basket .detail .title").html("共计" + i + "题");
    }

    //功能切换
    $(".page-nav .page-func").on("click", function () {
        $(this).addClass("active").siblings().removeClass("active");
        var type = $(".page-nav .page-func.active").attr("data-bind");
        cur_data.type = type;
        if (type == 0) {
            $(".treeoverall .jcchoose").show();
            LoadTextBookVersions();
        }
        else if (type == 1) {
            $(".treeoverall .jcchoose").hide();
            LoadKPTree();
        }
    })

    $(".treeoverall .jclist li").on("click", function () {
        $(this).addClass("active").siblings().removeClass("active");
    })

    //选择课程
    $(".page-nav .stage-list .stage li a").on("click", function () {
        $(this).addClass("active").siblings().removeClass("active").parents(".stage").siblings().find("a").removeClass("active");
        var id = $(this).attr("data-bind");
        var name = $(this).parents("ul").siblings("span").html() + $(this).html();
        $(".currentkc").attr("data-bind", id);
        $(".currentkc").html(name);

        var s = id + "|" + name;
        $.cookie("easyzy.basket.defaultcourse", s, { expires: 30, path: '/' });
        $(".page-nav .stage-list").hide();

        LoadQuesTypes();
        var type = $(".page-nav .page-func.active").attr("data-bind");
        if (type == 0) {
            LoadTextBookVersions();
        }
        else if (type == 1) {
            LoadKPTree();
        }
    })

    //加载教材版本
    var LoadTextBookVersions = function () {
        var courseid = $(".currentkc").attr("data-bind");
        var html = "";
        $.post("/create/qdb/GetTextBookVersions",
            { courseId: courseid },
            function (data) {
                for (var i = 0; i < data.length; i++) {
                    if (i == 0) {
                        html += "<li data-bind='" + data[i].Id + "' class='active'>" + data[i].Name + "</li>";
                    }
                    else {
                        html += "<li data-bind='" + data[i].Id + "'>" + data[i].Name + "</li>";
                    }
                }
                $(".treeoverall .bblist ul").html(html);

                $(".treeoverall .bblist li").on("click", function () {
                    $(this).addClass("active").siblings().removeClass("active");
                    LoadTextBooks();
                })

                //加载第一个版本的课本
                LoadTextBooks();
            })
    }

    //加载课本
    var LoadTextBooks = function () {
        var versionid = $(".treeoverall .bblist li.active").attr("data-bind");
        var html = "";
        $.post("/create/qdb/GetTextBooks",
            { versionId: versionid },
            function (data) {
                for (var i = 0; i < data.length; i++) {
                    if (i == 0) {
                        html += "<li data-bind='" + data[i].Id + "' class='active'>" + data[i].Volume + "</li>";
                    }
                    else {
                        html += "<li data-bind='" + data[i].Id + "'>" + data[i].Volume + "</li>";
                    }
                }
                $(".treeoverall .jclist ul").html(html);
                //显示当前课本名称
                ShowCurrentBook();
                $(".treeoverall .jclist li").on("click", function () {
                    $(this).addClass("active").siblings().removeClass("active");
                    ShowCurrentBook();
                    LoadZJTree();
                    $(".treeoverall .jcall").hide();
                })
                //加载第一个课本的章节树
                LoadZJTree();
            })
    }

    //显示当前的书名
    var ShowCurrentBook = function () {
        var tbvName = $(".bblist li.active").html();
        var tbName = $(".jclist li.active").html();

        $(".treeoverall .jctip").html(tbvName + " " + tbName);
    }

    //树配置
    var zTreeObj;
    // zTree 的参数配置，深入使用请参考 API 文档（setting 配置详解）
    var kpzTreeOnClick = function (event, treeId, treeNode) {
        cur_data.type = 1;
        cur_data.nodeid = treeNode.id;
        cur_data.pageindex = 1;
        SearchQuestions();
    }
    var settingKP = {
        view: {
            dblClickExpand: false,
            showLine: true,
            selectedMulti: false
        },
        data: {
            simpleData: {
                enable: true,
                idKey: "id",
                pIdKey: "pId",
                rootPId: "0"
            }
        },
        callback: {
            onClick: kpzTreeOnClick

        }
    };

    var zjzTreeOnClick = function (event, treeId, treeNode) {
        cur_data.type = 0;
        cur_data.nodeid = treeNode.id;
        cur_data.pageindex = 1;
        SearchQuestions();
    }

    var settingZJ = {
        view: {
            dblClickExpand: false,
            showLine: true,
            selectedMulti: false
        },
        data: {
            simpleData: {
                enable: true,
                idKey: "id",
                pIdKey: "pId",
                rootPId: "0"
            }
        },
        callback: {
            onClick: zjzTreeOnClick

        }
    };

    //加载章节树
    var LoadZJTree = function () {
        var courseId = $(".currentkc").attr("data-bind");
        var bookId = $(".treeoverall .jclist li.active").attr("data-bind");

        $(".treeshow").html("<div><img src='/images/loader.gif'><b>正在加载……</b></div>");
        $.post("/create/qdb/GetCatalogTree", { textbookId: bookId }, function (data) {
            if (data != "null") {
                zTreeObj = $.fn.zTree.init($(".treeshow"), settingZJ, data);
            }
            else {
                $(".treeshow").html("<div align='center'>没有相关目录结构！</div>");
            }
        })
    }

    //加载知识点树
    var LoadKPTree = function () {
        var courseId = $(".currentkc").attr("data-bind");

        $(".treeshow").html("<div><img src='/images/loader.gif'><b>正在加载……</b></div>");
        $.post("/create/qdb/GetKnowledgePointTree", { courseId: courseId }, function (data) {
            if (data != "null") {
                zTreeObj = $.fn.zTree.init($(".treeshow"), settingKP, data);
            }
            else {
                $(".treeshow").html("<div align='center'>没有相关知识点结构！</div>");
            }
        })
    }

    //加载题型
    var LoadQuesTypes = function () {
        var courseid = $(".currentkc").attr("data-bind");
        var html = "<b>题型：</b><a href='#' data-bind='0' class='active'>全部</a>";
        $.post("/create/qdb/GetQuesTypes",
            { courseId: courseid },
            function (data) {
                for (var i = 0; i < data.length; i++) {
                    html += "<a href='#' data-bind='" + data[i].Id + "'>" + data[i].Name + "</a>";
                }
                $(".quessearch .questype").html(html);
                $(".quessearch .questype a").on("click", function () {
                    $(this).addClass("active").siblings().removeClass("active");
                    cur_data.pageindex = 1;
                    SearchQuestions();
                })
            })
    }

    var PageClick = function (PageIndex) {
        cur_data.pageindex = PageIndex;
        SearchQuestions();
    }

    //查询试题
    var SearchQuestions = function () {
        var courseid = $(".currentkc").attr("data-bind");
        var cpointid = 0, kpointid = 0;
        if (cur_data.type == 0) {
            cpointid = cur_data.nodeid;
        }
        else if (cur_data.type == 1) {
            kpointid = cur_data.nodeid;
        }
        if (cpointid == 0 && kpointid == 0) return;

        var typeid = $(".quessearch .questype .active").attr("data-bind");
        var difftype = $(".quessearch .difftype .active").attr("data-bind");
        var quesyear = $(".quessearch .quesyear .active").attr("data-bind");

        $(".queryresult").html("<div><img src='/images/loader.gif'><b>正在加载……</b></div>");
        $("#pager").html("");

        $.post("/create/qdb/GetQuestions",
            { courseId: courseid, kpointId: kpointid, cpointId: cpointid, typeId: typeid, diffType: difftype, paperYear: quesyear, pageIndex: cur_data.pageindex, pageSize: cur_data.pagesize },
            function (data) {
                $(".queryresult").html(data);
                if (parseInt($("#PageCountDiv").html()) > 1) {
                    $("#pager").pager({ pagenumber: cur_data.pageindex, pagecount: $("#PageCountDiv").html(), buttonClickCallback: PageClick });
                }
                MathJax.Hub.Queue(["Typeset", MathJax.Hub]);
                //初始化答案/解析的显示/关闭
                initAnswerParseShow();
                //初始化试题选入试题篮状态
                setQuesSelected();
                //选择试题
                $(".qtitle .qtright .addone").on("click", function () {
                    chooseQues($(this));
                })
                //点击显示当前答案解析
                $(".pques .dotted .show").on("click", function () {
                    ShowAnswer($(this));
                })
            })
    }

    //随机生成试题
    $(".rgq").on("click", function () {
        RandomQuestions();
    })

    var RandomQuestions = function () {
        var count = $(".randomcount").val();
        if (count == "" || !isNumber(count) || parseInt(count) > 20) {
            $(".randomcount").focus();
            $(".rcounttip").show();
            return;
        }

        var courseid = $(".currentkc").attr("data-bind");
        var cpointid = 0, kpointid = 0;
        if (cur_data.type == 0) {
            cpointid = cur_data.nodeid;
        }
        else if (cur_data.type == 1) {
            kpointid = cur_data.nodeid;
        }
        $(".queryresult").html("<div><img src='/images/loader.gif'><b>正在加载……</b></div>");
        $.post("/create/qdb/RandomQuestions",
            { courseId: courseid, kpointId: kpointid, cpointId: cpointid, count: count },
            function (data) {
                $(".queryresult").html(data);
                MathJax.Hub.Queue(["Typeset", MathJax.Hub]);
            })
    }

    //加载试题后将已选试题设置为已选状态
    var setQuesSelected = function () {
        var queslist;
        var quesbasket = $.cookie("easyzy.quesbasket");
        if (quesbasket) {
            var queslist = quesbasket.split(',');
            
        }

        $(".queryresult").find(".join").each(function () {
            var quesid = $(this).attr("data-bind");
            var i = $.inArray(quesid, queslist);
            if (i != -1) {
                $(this).addClass("remove").removeClass("join");
                $(this).html("<b>-</b> 移出试题篮");
            }
        })

        $(".queryresult").find(".remove").each(function () {
            var quesid = $(this).attr("data-bind");
            var i = $.inArray(quesid, queslist);
            if (i == -1) {
                $(this).addClass("join").removeClass("remove");
                $(this).html("<b>+</b> 加入试题篮");
            }
        })
    }

    //加入/移出试题篮
    var chooseQues = function (obj) {
        var quesid = obj.attr("data-bind");
        var questype = obj.attr("data-qt");
        var quesbasket = $.cookie("easyzy.quesbasket");
        var questypebasket = $.cookie("easyzy.questypebasket");
        var i = 0;
        if (obj.hasClass("join")) {
            if (quesbasket) {
                var queslist = quesbasket.split(',');
                queslist.push(quesid);
                quesbasket = queslist.join(",");
                i = queslist.length;
                $.cookie("easyzy.quesbasket", quesbasket, { expires: 30, path: '/' });
                $.cookie("easyzy.questypebasket", questypebasket + "," + questype, { expires: 30, path: '/' });
            }
            else {
                $.cookie("easyzy.quesbasket", quesid, { expires: 30, path: '/' });
                $.cookie("easyzy.questypebasket", questype, { expires: 30, path: '/' });
                i = 1;
            }
            obj.removeClass("join").addClass("remove");
            obj.html("<b>-</b> 移出试题篮");
        }
        else {
            var queslist = quesbasket.split(',');
            var questypelist = questypebasket.split(',');
            for (var j = 0; j < queslist.length; j++) {
                if (queslist[j] == quesid) {
                    queslist.splice(j, 1);
                    questypelist.splice(j, 1);
                    break;
                }
            }
            i = queslist.length;
            $.cookie("easyzy.quesbasket", queslist.join(","), { expires: 30, path: '/' });
            $.cookie("easyzy.questypebasket", questypelist.join(","), { expires: 30, path: '/' });
            obj.removeClass("remove").addClass("join");
            obj.html("<b>+</b> 加入试题篮");
        }
        $(".bcount").html(i);
        $(".basket .detail .title").html("共计" + i + "题");
        if (i > 9) {
            $(".bcount").css("padding", "3px 4px");
        }
        else {
            $(".bcount").css("padding", "2px 6px");
        }
        $.cookie("easyzy.quesscore", null);
    }

    //根据题型删除试题篮试题
    var DeleteBasketByType = function (typename) {
        var quesbasket = $.cookie("easyzy.quesbasket");
        var questypebasket = $.cookie("easyzy.questypebasket");
        var queslist = quesbasket.split(',');
        var questypelist = questypebasket.split(',');
        var newqueslist = [], newquestypelist = [];

        for (var i = 0; i < questypelist.length; i++) {
            if (questypelist[i] != typename) {
                newqueslist.push(queslist[i]);
                newquestypelist.push(questypelist[i]);
            }
        }

        $.cookie("easyzy.quesbasket", newqueslist.join(","), { expires: 30, path: '/' });
        $.cookie("easyzy.questypebasket", newquestypelist.join(","), { expires: 30, path: '/' });

        $(".queryresult .remove").each(function () {
            if ($(this).data("qt") == typename) {
                $(this).addClass("join").removeClass("remove");
                $(this).html("<b>+</b> 加入试题篮");
            }
        })

        $(".basket .detail .title").html("共计" + newqueslist.length + "题");
        $(".bcount").html(newqueslist.length);

        var sel = "[data-bind='" + typename + "']";
        $(".basket .detail .body").remove(sel);
    }
    
    //加载试题篮中的各题型数量
    var LoadQuesBasket = function () {
        var questypebasket = $.cookie("easyzy.questypebasket");
        var questypelist = [];
        if (questypebasket) {
            questypelist = questypebasket.split(',');

            var diff = 0, totalDiff = 0;
            var questypedistinct = [];
            var questypeqcount = []
            for (var i = 0; i < questypelist.length; i++) {
                var indx = $.inArray(questypelist[i], questypedistinct);
                if (indx == -1) {
                    questypedistinct.push(questypelist[i]);
                    questypeqcount.push(1);
                }
                else {
                    var count = parseInt(questypeqcount[indx]);
                    questypeqcount[indx] = count + 1;
                }
            }

            var html = "";
            for (var i = 0; i < questypedistinct.length; i++) {
                var shortname = questypedistinct[i];
                if (questypedistinct[i].length > 5) {
                    shortname = questypedistinct[i].substring(0, 5) + "...";
                }
                html += "<div class='line' data-bind='" + questypedistinct[i] + "'><span class='qtn'>" + shortname + "</span><span class='qtc'>" + questypeqcount[i] + "</span><span><a href='#' class='deltype' data-bind='" + questypedistinct[i] + "'>删除</a></span></div>"
            }
            $(".basket .detail .body").html(html);
            $(".basket .detail .deltype").on("click", function () {
                alert("2");
                DeleteBasketByType($(this).attr("data-bind"));
            })
        }
        else {
            $(".basket .detail .body").html("");
        }
    }

    //清空试题篮
    $(".clearbasket").on("click", function () {
        if ($("bcount").html() == "0") return;
        $.cookie('easyzy.quesbasket', null, { expires: -1, path: '/' });
        $.cookie('easyzy.questypebasket', null, { expires: -1, path: '/' });
        //删除作业分值和作业名称cookie
        $.cookie('easyzy.quesscore', null, { expires: -1, path: '/' });
        $.cookie('easyzy.homeworkname', null, { expires: -1, path: '/' });
        $(".basket .detail .title").html("共计0题");
        $(".basket .detail .body").html("");
        $(".bcount").html("0");
        $(".queryresult .remove").html("<b>+</b> 加入试题篮");
        $(".queryresult .remove").removeClass("remove").addClass("join");
    })

    //显示全部答案
    $(".resulttitle .showanswer").on("click", function () {
        if ($(this).hasClass("unchoosed")) {
            $(this).removeClass("unchoosed").addClass("choosed");
            $(".queryresult .panswerparse").show();
            $(".pques .dotted .show").removeClass("open").addClass("close").html("关闭答案/解析");
        }
        else {
            $(this).removeClass("choosed").addClass("unchoosed");
            $(".queryresult .panswerparse").hide();
            $(".pques .dotted .show").removeClass("close").addClass("open").html("打开答案/解析");
        }
    })

    //拉取试题后，根据chebox状态设置是否显示答案解析
    var initAnswerParseShow = function () {
        if ($(".resulttitle .showanswer").hasClass("unchoosed")) {
            $(".queryresult .panswerparse").hide();
        }
        else {
            $(".queryresult .panswerparse").show();
            $(".pques .dotted .show").removeClass("open").addClass("close").html("关闭答案/解析");
        }
    }

    //点击打开答案，显示当前试题答案
    var ShowAnswer = function (t) {
        if (t.hasClass("open")) {
            t.html("关闭答案/解析")
            t.addClass("close").removeClass("open");
            t.parent().siblings(".panswerparse").slideDown();
        }
        else {
            t.html("打开答案/解析")
            t.addClass("open").removeClass("close");
            t.parent().siblings(".panswerparse").slideUp();
        }
    }
</script>