@{
    ViewBag.Title = "易作业-试题篮";
    Layout = "~/areas/create/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    .foot-wrap {display: none;}

    .pques .qtitle .qtright{background-color:cadetblue; display:none;}
    .pques .qtitle .qtright .ope{background:url("/Images/v3-opera-ico.png") no-repeat; color:#fff; padding: 1px 20px; margin-left:10px; }
    .pques .qtitle .qtright .del{background-position: -81px 2px;}
    .pques .qtitle .qtright .up{background-position: -158px 2px;}
    .pques .qtitle .qtright .down{background-position: -239px 2px;}
</style>

<div class="content-nav">当前位置：<a href="http://easyzy.com">首页</a> > <a href="/create/qdb">新建作业</a> > 试题篮</div>
<div class="content">
    <div class="main-content">
        <div class="queslist">

        </div>
    </div>
    <div class="quesop">
        <a class="download" href="#">下 载（暂未开放）</a><a class="save" href="#">保 存</a>
    </div>
</div>


<div class="savetip st-roster" style="display:none;">
    <img src="/Images/close.png" class="popclose" style="top:-14px; right:-11px;" />
    <div class="poptitle">
        设置作业名称和时间
    </div>
    <div class="popcontent">
        <div class="zyname">作业名称：<input value="@ViewBag.DefaultZyName" /></div>
        <div class="zydate">
            <span class="left">作业时间：</span>
            <div class="left">
                <p class="datep">
                    <input class="dateinp" type="text" placeholder="请选择" id="inpstart" readonly value="@ViewBag.StartDate" />
                    <b class="calendar" type="button" value="打开"></b>
                </p>
                <p class="left" style="padding: 0 20px;">至</p>
                <p class="datep">
                    <input class="dateinp" type="text" placeholder="请选择" id="inpend" readonly value="@ViewBag.EndDate" />
                    <b class="calendar" type="button"></b>
                </p>
            </div>
        </div>
        <div class="zydatetip"><p>未到开始时间的作业，学生无法打开；提交时间超过截止时间的作业将会统计为“未按时提交”</p></div>
    </div>
    <div class="popfoot">
        <a href="javascript:void(0);" class="save">保 存</a><a href="javascript:void(0);" class="cancel">取 消</a>
    </div>
</div>

@section scriptlast{
    <script type="text/javascript" src="/scripts/jquery.cookie.js"></script>
    <script type="text/javascript" src="/Scripts/laydate-master/laydate.dev.js"></script>
    <script type="text/javascript" src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
}

<script type="text/javascript">
    var cur_data = {
        courseid: '@ViewBag.CourseId',
        sdate: "@ViewBag.StartDate",
        edate: "@ViewBag.EndDate"
    }

    $(function () {
        GetBasketQues();
        InitDate();
        
    })

    var InitDate = function () {
        var start = {
            elem: '#inpstart', //选择ID为START的input
            format: 'YYYY/MM/DD hh:mm', //自动生成的时间格式
            min: laydate.now(), //设定最小日期为当前日期
            festival: true, //显示节日,
            istime: true,
            choose: function (datas) {
                cur_data.sdate = datas;
            }
        };
        var end = {
            elem: '#inpend',
            format: 'YYYY/MM/DD hh:mm', //自动生成的时间格式
            min: laydate.now(), //设定最小日期为当前日期
            festival: true, //显示节日,
            istime: true,
            choose: function (datas) {
                cur_data.edate = datas;
            }
        };
        laydate(start);
        laydate(end);
    }

    var GetBasketQues = function () {
        var quesbasket = $.cookie("easyzy.quesbasket");
        if (quesbasket) {
            $.post("/create/qdb/getbasketques",
                { qid: quesbasket, courseId: cur_data.courseid },
                function (data) {
                    $(".queslist").html(data);
                })
        }
        else {
            $(".queslist").html("<div style=\"padding-top:20px; text-align:center;\">试题篮是空的！</div>");
        }
    }

    //弹层关闭
    $(".st-roster .popclose, .st-roster .cancel").click(function () {
        $(".st-roster").hide();
        $(".shade").hide();
    })

    //保存
    $(".quesop .save").on("click", function () {
        $(".savetip").show();
        $('body').prepend('<div class="shade fixed1"></div>');
    })

    $(".st-roster .save").on("click", function () {
        //to do save
        var hname = $(".popcontent .zyname input").val();
        if (!hname || trim(hname) == "") {
            alert("需要输入作业名称！");
            $(".popcontent .zyname input").focus();
            return false;
        }
        if (hname.length > 30) {
            alert("作业名称不要超过30个字！");
            $(".popcontent .zyname input").focus();
            return false;
        }

        if (cur_data.sdate == "") {
            alert("需要设置开始时间！");
            return false;
        }

        if (cur_data.edate == "") {
            alert("需要设置截止时间！");
            return false;
        }

        if (cur_data.sdate > cur_data.edate) {
            alert("开始时间不能大于截止时间！");
            return false;
        }

        var qids = [];

        $(".pques").each(function () {
            qids.push($(this).attr("data-bind"));
        })

        if (qids.length == 0) {
            alert("试题篮为空，先去加些试题吧！")
            return false;
        }

        $.post("/create/qdb/savezy",
            { courseId: cur_data.courseid, zyName: hname, startDate: cur_data.sdate, endDate: cur_data.edate, questions: qids.join(",") },
            function (data) {
                if (data.code == 0) {
                    ClearBasket();
                    window.location.href = "/list/home"
                }
                else {
                    alert(data.message);
                }
            })
    })

    //清空试题篮
    var ClearBasket = function () {
        $.cookie('easyzy.quesbasket', null, { expires: -1, path: '/' });
        $.cookie('easyzy.questypebasket', null, { expires: -1, path: '/' });
    }

    
</script>