
<div style="font-size:16px; padding-left:20px;">
    <table class="tab-default">
        <tr>
            <td class="tright">用户名：</td>
            <td class="tleft">@ViewBag.UserInfo.UserName</td>
            <td class=""></td>
        </tr>
        <tr>
            <td class="tright">真实姓名：</td>
            <td class="tleft"><b id="TrueNameB">@ViewBag.UserInfo.TrueName</b><input type="text" id="TrueNameInput" value="" style="display:none" /></td>
            <td class=""><a href="javascript:void(0);" class="truenamebtn icoedit" title="修改"></a>@*<label class="cedit">（5位以内。修改后，您提交作业时将会默认使用此姓名）</label>*@</td>
        </tr>
        <tr>
            <td class="tright">班级信息：</td>
            <td class="tleft"><b id="ClassB">@ViewBag.UserInfo.Class</b><input class="classinfo" type="text" id="ClassInput" value="" style="display:none" /></td>
            <td class=""><a href="javascript:void(0);" class="classbtn icoedit" title="修改"></a>@*<label class="cedit">（30位以内。建议格式：XX学校XX年级XX班级）</label>*@</td>
        </tr>
        <tr>
            <td class="tright">作业密码：</td>
            <td class="tleft"><b id="ZyPsdB">@ViewBag.UserInfo.ZyPsd</b><input type="text" id="ZyPsdInput" value="" style="display:none" /></td>
            <td class=""><a href="javascript:void(0);" class="zypsdbtn icoedit" title="修改"></a>@*<label class="cedit">（6位数字。修改后，只有知道此密码的人才能打开/查看您新建的作业）</label>*@</td>
        </tr>
        <tr>
            <td class="tright">作业收费：</td>
            <td class="tleft">0元</td>
            <td class="">暂未开放<br/>@*（作为对您提供优质内容的回馈，学生只有付款后才能打开/查看您新建的作业）*@</td>
        </tr>
        <tr>
            <td class="tright">关注了谁：</td>
            <td class="tleft relate">
                @if (ViewBag.RelateUser != null)
                {
                    foreach (var u in ViewBag.RelateUser)
                    {
                        <a href="javascript:void(0);" data-bind="@u.RUserId" class="ql" onclick="QueryRZy(@u.RUserId);">@(u.RUserName)(@(u.RTrueName == "" ? "" : u.RTrueName))</a>
                        <a href="javascript:void(0);" data-bind="@u.RUserId" class="del" onclick="CancelRelate(@u.RUserId);"></a>
                    }
                }
            </td>
            <td><a href="javascript:void(0);" class="icoadd" title="添加" onclick="AddRelate();"></a></td>
        </tr>
        <tr>
            <td class="tright">被谁关注：</td>
            <td class="tleft"></td>
            <td class=""></td>
        </tr>
    </table>
</div>
<div class="Relate st-roster" style="display:none; padding: 20px 10px; height:500px;">
    <img src="/Images/close.png" class="popclose" />
    <div class="queryrelate">
        <input id="keywords" placeholder="模糊搜索（用户名/真实姓名/班级）" /><a class="btn" onclick="query();">查询</a>
    </div>
    <div class="chooserelate">
        <div style="color:red; padding-bottom:5px;">（最多返回20条记录）</div>
        <table border="0" cellspacing="1" cellpadding="0" class="tab-default">
            <thead>
                <tr>
                    <th>序号</th>
                    <th>用户名</th>
                    <th>真实姓名</th>
                    <th>班级</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="tbody"></tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    $(".truenamebtn").on("click", function () {
        if ($(this).hasClass("save")) {
            SaveTrueName();
        }
        else {
            ShowTrueNameInput();
        }
    })

    var ShowTrueNameInput = function () {
        $(".truenamebtn").addClass("save");
        $("#TrueNameInput").val($("#TrueNameB").html());
        $("#TrueNameInput").show();
        $("#TrueNameB").hide();

        $(".tab-default .icoedit.save").hover(function () {
            $(this).attr("title", "保存");
        }, function () {
            $(this).attr("title", "修改");
        })
    }

    var SaveTrueName = function () {
        var truename = $("#TrueNameInput").val();
        if (truename.length > 5) {
            dialogAlert("真实姓名长度不能大于5！");
            return;
        }

        $.post("UpdateTrueName",
            { trueName: truename },
            function (data) {
                if (data == "0") {
                    $("#TrueNameB").html(truename);
                    $("#TrueNameB").show();
                    $(".truenamebtn").removeClass("save");
                    $("#TrueNameInput").hide();
                }
                else {
                    dialogAlert("修改失败！");
                }
            })
    }

    //作业密码修改
    $(".zypsdbtn").on("click", function () {
        if ($(this).hasClass("save")) {
            SaveZyPsd();
        }
        else {
            ShowZyPsdInput();
        }
    })

    var ShowZyPsdInput = function () {
        $(".zypsdbtn").addClass("save");
        $("#ZyPsdInput").val($("#ZyPsdB").html());
        $("#ZyPsdInput").show();
        $("#ZyPsdB").hide();

        $(".tab-default .icoedit.save").hover(function () {
            $(this).attr("title", "保存");
        }, function () {
            $(this).attr("title", "修改");
        })
    }

    var SaveZyPsd = function () {
        var zypsd = trim($("#ZyPsdInput").val());
        if (zypsd != "") {
            if (zypsd.length != 6) {
                dialogAlert("作业密码长度必须等于6！");
                return;
            }
            if (!isNumber(zypsd)) {
                dialogAlert("作业密码必须全部为数字！");
                return;
            }
        }

        $.post("UpdateZyPsd",
            { zyPsd: zypsd },
            function (data) {
                if (data == "0") {
                    $("#ZyPsdB").html(zypsd);
                    $("#ZyPsdB").show();
                    $(".zypsdbtn").removeClass("save");
                    $("#ZyPsdInput").hide();
                }
                else {
                    dialogAlert("修改失败！");
                }
            })
    }

    //班级修改
    $(".classbtn").on("click", function () {
        if ($(this).hasClass("save")) {
            SaveClass();
        }
        else {
            ShowClassInput();
        }
    })

    var ShowClassInput = function () {
        $(".classbtn").addClass("save");
        $("#ClassInput").val($("#ClassB").html());
        $("#ClassInput").show();
        $("#ClassB").hide();

        $(".tab-default .icoedit.save").hover(function () {
            $(this).attr("title", "保存");
        }, function () {
            $(this).attr("title", "修改");
        })
    }

    var SaveClass = function () {
        var userClass = trim($("#ClassInput").val());
        if (userClass != "" && userClass.length > 30) {
            dialogAlert("班级长度必须不能大于30！");
            return;
        }

        $.post("UpdateUserClass",
            { userClass: userClass },
            function (data) {
                if (data == "0") {
                    $("#ClassB").html(userClass);
                    $("#ClassB").show();
                    $(".classbtn").removeClass("save");
                    $("#ClassInput").hide();
                }
                else {
                    dialogAlert("修改失败！");
                }
            })
    }

    //添加关注
    var AddRelate = function () {
        $("#keywords").val("");
        $("#tbody").html("");
        $(".Relate").show();
        $('input').placeholder();
        $('body').prepend('<div class="shade fixed1"></div>');
    }

    $(".st-roster .popclose").click(function () {
        $(".Relate").hide();
        $(".shade").hide();
    })

    var query = function () {
        var html = "";
        $("#tbody").html("<div><img style='vertical-align: middle;' src='/images/loader.gif'><b>正在查询中……</b></div>");
        var keywords = $("#keywords").val();
        $.post("SearchUser",
            { keyWords: keywords },
            function (json) {
                if (json != "null") {
                    for (var i = 0; i < json.length; i++) {
                        html += "<tr><td>" + (i + 1) + "</td><td>" + json[i].UserName + "</td><td>" + json[i].TrueName + "</td><td>" + json[i].Class + "</td><td><a href='javascript:void(0);' onclick=\"relate('" + json[i].Id + "','" + json[i].UserName + "','" + json[i].TrueName + "'); \">关注</a></td></tr>";
                    }
                    $("#tbody").html(html);
                }
                else {
                    $("#tbody").html("<tr><td cols='5'>没有查询到任何信息！</td></tr>");
                }
            })
    }

    var relate = function (userid, username, truename)
    {
        $.post("Relate",
            { userId: userid },
            function (data) {
                if (data == "") {
                    $("td.relate").prepend("<a href='javascript:void(0);' data-bind='" + userid + "' class='ql' onclick='QueryRZy(" + userid + ");'>" + username + "(" + truename + ")</a><a href='javascript:void(0);' data-bind='" + userid + "' class='del' onclick=\"CancelRelate(" + userid + ");\"></a>");
                    $(".Relate").hide();
                    $(".shade").hide();
                }
                else {
                    alert(data);
                }
            })
    }

    var CancelRelate = function (userid)
    {
        Cancel_Data.UserId = userid;
        dialogConfirm("确定要取消关注吗？", CancelRelateOK, "");
    }

    var Cancel_Data = {
        UserId: 0
    }

    var CancelRelateOK = function () {
        $.post("CancelRelate",
            { userId: Cancel_Data.UserId },
            function (data) {
                if (data == "") {
                    $(".relate a").each(function () {
                        if ($(this).attr("data-bind") == Cancel_Data.UserId) {
                            $(this).hide();
                        }
                    })
                }
                else {
                    dialogAlert(data);
                }
            })
    }
</script>