@using hw.easyzy.model.dto;
@{
    ViewBag.Title = "易作业-作业统计";
    Layout = "~/areas/analyze/Views/Shared/_Layout.cshtml";
}

@{var zy = Model as dto_Zy;}

<style type="text/css">
    
</style>

<div class="content-nav">当前位置：<a href="http://easyzy.com">首页</a> > <a href="http://hw.easyzy.com/list/home">作业列表</a> > 统计</div>

<div class="content">
    <div class="main-content">
        <div class="zyname-center">
            <h1>@zy.ZyName</h1>
            <h2>@zy.OpenDateStr - @zy.DueDateStr</h2>
            <h3 style="color:#ff006e">注：只包含客观题作答情况</h3>
        </div>

        <div class="classbar" id="classbar">
            <div class="bartitle">一、各班提交人数对比</div>
            <div class="barchart-class"></div>
        </div>

        <div class="submitbar" id="submitbar">
            <div class="bartitle">二、得分情况统计</div>
            <div class="tab">
                <ul>
                    @if (ViewBag.Classes != null)
                    {
                        int i = 0;
                        foreach (var c in ViewBag.Classes)
                        {
                            <li data-school="@c.SchoolId" data-grade="@c.GradeId" data-class="@c.ClassId" class=@(i == 0 ? "active" : "")>@c.GradeName @c.ClassName</li>
                            i = 1;
                        }
                    }
                </ul>
            </div>
            
            <div class="barchart-submit"></div>
        </div>
        
        <div class="quesbar" id="quesbar">
            <div class="bartitle">三、试题答对人数统计</div>
            <div class="tab">
                <ul>
                    @if (ViewBag.Classes != null)
                    {
                        int j = 0;
                        foreach (var c in ViewBag.Classes)
                        {
                            <li data-school="@c.SchoolId" data-grade="@c.GradeId" data-class="@c.ClassId" class=@(j == 0 ? "active" : "")>@c.GradeName @c.ClassName</li>
                            j = 1;
                        }
                    }
                </ul>
            </div>
            
            <div class="barchart-ques"></div>
        </div>
        
        <div class="optionbar" id="optionbar">
            <div class="bartitle">四、各选项选择率统计</div>
            <div class="tab">
                <ul>
                    @if (ViewBag.Classes != null)
                    {
                        int k = 0;
                        foreach (var c in ViewBag.Classes)
                        {
                            <li data-school="@c.SchoolId" data-grade="@c.GradeId" data-class="@c.ClassId" class=@(k == 0 ? "active" : "")>@c.GradeName @c.ClassName</li>
                            k = 1;
                        }
                    }
                </ul>
            </div>
            
            <div class="barchart-option"></div>
        </div>
    </div>
</div>

@section scriptlast{
    <script type="text/javascript" src="/scripts/echarts/echarts.min.js"></script>
}

<script type="text/javascript">
    var cur_data = {
        zyid: '@ViewBag.ZyId',
        ccount: '@ViewBag.ClassCount'
    }
    //统计-All
    $(function () {
        GetClassBar();
        GetSubmitBar();
        GetQuesBar();
        GetOptionBar();
        
    })
    

    $(".submitbar .tab li").on("click", function () {
        $(this).addClass("active").siblings().removeClass("active");
        GetSubmitBar();
    })

    $(".quesbar .tab li").on("click", function () {
        $(this).addClass("active").siblings().removeClass("active");
        GetQuesBar();
    })

    $(".optionbar .tab li").on("click", function () {
        $(this).addClass("active").siblings().removeClass("active");
        GetOptionBar();
    })

    //统计-班级
    var GetClassBar = function () {
        if (cur_data.ccount == 0) {
            $(".barchart-class").html("暂无学生提交！");
            return;
        }
        $(".barchart-class").html("<img src='/images/loader.gif'><b>正在加载……</b>");
        $.post("/analyze/home/GetClassBar",
            { zyId: cur_data.zyid },
            function (data) {
                $(".barchart-class").html(data);
            })
    }

    //统计-提交
    var GetSubmitBar = function () {
        if (cur_data.ccount == 0) {
            $(".barchart-submit").html("暂无学生提交！");
            return;
        }
        $(".barchart-submit").html("<img src='/images/loader.gif'><b>正在加载……</b>");
        var c = $(".submitbar .tab li.active");
        var sid = c.attr("data-school");
        var gid = c.attr("data-grade");
        var cid = c.attr("data-class");
        $.post("/analyze/home/GetSubmitBar",
            { zyId: cur_data.zyid, schoolId: sid, gradeId: gid, classId: cid },
            function (data) {
                $(".barchart-submit").html(data);
            })
    }

    //统计-试题
    var GetQuesBar = function () {
        if (cur_data.ccount == 0) {
            $(".barchart-ques").html("暂无学生提交！");
            return;
        }
        $(".barchart-ques").html("<img src='/images/loader.gif'><b>正在加载……</b>");
        var c = $(".quesbar .tab li.active");
        var sid = c.attr("data-school");
        var gid = c.attr("data-grade");
        var cid = c.attr("data-class");
        $.post("/analyze/home/GetQuesBar",
            { zyId: cur_data.zyid, schoolId: sid, gradeId: gid, classId: cid },
            function (data) {
                $(".barchart-ques").html(data);
            })
    }

    //统计-选项
    var GetOptionBar = function () {
        if (cur_data.ccount == 0) {
            $(".barchart-option").html("暂无学生提交！");
            return;
        }
        $(".barchart-option").html("<img src='/images/loader.gif'><b>正在加载……</b>");
        var c = $(".optionbar .tab li.active");
        var sid = c.attr("data-school");
        var gid = c.attr("data-grade");
        var cid = c.attr("data-class");
        $.post("/analyze/home/GetOptionBar",
            { zyId: cur_data.zyid, schoolId: sid, gradeId: gid, classId: cid},
            function (data) {
                $(".barchart-option").html(data);
            })
    }
</script>
