@using easyzy.model.dto;
@{var list = Model as List<dto_Answer3>; }

@if (list != null)
{
    for (int i = 0; i < list.Count; i++)
    {
        <tr>
            <td>@(i+1)</td>
            <td>@list[i].TrueName</td>
            <td>@list[i].CreateDate.ToString("MM-dd HH:mm")</td>
            <td>@list[i].ObjectiveQuesCorrectCount / @list[i].ObjectiveQuesCount</td>
            <td><a href="javascript:void(0);" onclick="check('@list[i].TrueName', 0);">答题卡</a><label style="padding:0 10px;">|</label><a href="javascript:void(0);" onclick="check('@list[i].TrueName', 1);">图片</a></td>
        </tr>
    }
}
else
{
    <tr><td colspan="5">暂无任何人提交此作业！</td></tr>
}