<!doctype html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7" lang="en-US"> <![endif]-->
<!--[if IE 7]>    <html class="lt-ie9 lt-ie8" lang="en-US"> <![endif]-->
<!--[if IE 8]>    <html class="lt-ie9" lang="en-US"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en-US">
<!--<![endif]-->
<head>
    <!-- META TAGS -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@ViewBag.Title</title>
    <meta name="keywords" content="易作业,easy作业,Word上传作业,文件作业,自传作业,简单,易用,免费,好用,作业平台,作业工具,文件上传作业,线上作业,作业详情,无需注册,上传作业图片">
    <meta name="description" content="易作业，简单、易用、免费的作业工具，使用文档上传作业，线上布置，线上完成作业，无需登录即可体验，登录后更可解锁更多功能！">
    <link rel='stylesheet' id='bootstrap-css-css' href='/content/bootstrap5152.css?ver=1.0' type='text/css' media='all' />
    <link rel='stylesheet' id='responsive-css-css' href='/content/responsive.css?ver=1.0' type='text/css' media='all' />
    <link rel='stylesheet' id='main-css-css' href='/content/main.css?ver=1.0' type='text/css' media='all' />
    <link href="/Content/bbs.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/jquery.pager.css" />
    <link rel='stylesheet' type="text/css" href='/scripts/artdialog/css/ui-dialog.css' />
    <script type='text/javascript' src='/scripts/jquery-1.10.2.min.js'></script>
    <script type='text/javascript' src='/scripts/artdialog/dialog.js'></script>
    <script type='text/javascript' src='/scripts/uaredirect.js'></script>
    <script type='text/javascript' src='/scripts/easyzy.common.js'></script>
    <script type="text/javascript" src="~/Scripts/jquery.pager.js"></script>
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="js/html5.js"></script></script>
    <![endif]-->
</head>
<body>
    <!-- Start of Header -->
    <div class="header-wrapper">
        <header>
            <div class="container">
                <div class="logo-container">
                    <!-- Website Logo -->
                    <a href="http://local.bbs.easyzy.com" title="易作业论坛">
                        <img src="/images/logo.jpg" style="width:21px;height:21px;" alt="Easyzy Log">
                    </a>
                    <span class="tag-line">论坛</span>
                </div>

                <!-- Start of Main Navigation -->
                <nav class="main-nav">
                    <div class="menu-top-menu-container">
                        <ul id="menu-top-menu" class="clearfix">
                            <li><a href="http://local.easyzy.com">易作业首页</a></li>
                            <li><a href="http://local.bbs.easyzy.com">论坛首页</a></li>
                            <li><a href="#">|</a></li>
                            <li><a href="/topic/invites">被邀请
                                @if (ViewBag.Invites != 0)
                                {
                                    if (ViewBag.Invites < 10)
                                    {
                                        <sup style="margin: -1px 1px 0px 3px; padding:0 4px; border-radius: 100%; font-size:8px; background:red;">@ViewBag.Invites</sup>
                                    }
                                    else
                                    {
                                        <sup style="margin: -1px 1px 0px 3px; padding:0 1px; border-radius: 100%; font-size:8px; background:red;">@ViewBag.Invites</sup>
                                    }
                                }
                                </a>
                            </li>
                            @*<li><a href="#">|</a></li>
                            <li><a href="#">切换：</a></li>
                            <li>
                                <a href="#">年级</a>
                                <ul class="sub-menu">
                                    <li><a href="#">不限</a></li>
                                    <li><a href="#">一年级</a></li>
                                    <li><a href="#">二年级</a></li>
                                    <li><a href="#">三年级</a></li>
                                    <li><a href="#">四年级</a></li>
                                    <li><a href="#">五年级</a></li>
                                    <li><a href="#">六年级</a></li>
                                    <li><a href="#">七年级</a></li>
                                    <li><a href="#">八年级</a></li>
                                    <li><a href="#">九年级</a></li>
                                    <li><a href="#">高一</a></li>
                                    <li><a href="#">高二</a></li>
                                    <li><a href="#">高三</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">学科</a>
                                <ul class="sub-menu">
                                    <li><a href="#">不限</a></li>
                                    <li><a href="#">语文</a></li>
                                    <li><a href="#">数学</a></li>
                                    <li><a href="#">英语</a></li>
                                </ul>
                            </li>*@
                            <li>
                                @if (ViewBag.UserInfo == null)
                                {
                                    <a href="#">
                                        <img src="/Images/user.jpg" style="margin: -4px 8px 0 0;border-radius: 100%;border: 2px solid #FFF;max-width: 30px;" />
                                        匿名
                                    </a>
                                    <ul class="sub-menu">
                                        <li><a href="#">注册 / 登录</a></li>
                                    </ul>
                                }
                                else
                                {
                                    <a href="#">
                                        <img src="/Images/user.jpg" style="margin: -4px 8px 0 0;border-radius: 100%;border: 2px solid #FFF;max-width: 30px;" />
                                        @ViewBag.UserInfo.UserName
                                    </a>
                                    <ul class="sub-menu">
                                        <li><a href="#" class="exit">注销</a></li>
                                    </ul>
                                }
                            </li>
                        </ul>
                    </div>
                </nav>
                <!-- End of Main Navigation -->

            </div>
        </header>
    </div>

    @RenderBody()

    <!-- End of Page Container -->
    <!-- Start of Footer -->
    <footer id="footer-wrapper">
        <div id="footer" class="container">
            <div class="row">

                <div class="span3">
                    <section class="widget">
                        <h3 class="title">关于我们</h3>
                        <div class="textwidget">
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </p>
                            <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. </p>
                        </div>
                    </section>
                </div>

                <div class="span3">
                    <section class="widget">
                        <h3 class="title">全网导航</h3>
                        <ul>
                            <li><a href="http://local.easyzy.com">易作业首页</a> </li>
                            <li><a href="http://local.bbs.easyzy.com">论坛首页</a> </li>
                            <li><a href="http://local.hw.easyzy.com/creat/self">新建自传作业</a> </li>
                            <li><a href="http://local.hw.easyzy.com/creat/qdb">新建题库作业</a></li>
                            <li><a href="#">查看作业</a></li>
                            <li><a href="#">做作业</a></li>
                            <li><a href="http://local.user.easyzy.com/personal">个人中心</a></li>
                        </ul>
                    </section>
                </div>

                <div class="span3">
                    <section class="widget">
                        <h3 class="title">Latest Tweets</h3>
                        <div id="twitter_update_list">
                            <ul>
                                <li>No Tweets loaded !</li>
                            </ul>
                        </div>
                    </section>
                </div>

                <div class="span3">
                    <section class="widget">
                        <h3 class="title">友情链接</h3>
                        <ul>
                            <li><a href="#"></a></li>
                            <li><a href="#">Designing in WordPress</a></li>
                            <li><a href="#">Server</a></li>
                        </ul>
                    </section>
                </div>
            </div>
        </div>
        <!-- end of #footer -->
    </footer>
    <!-- End of Footer -->

    <a href="#top" id="scroll-top"></a>

    <!-- script -->
    <script type='text/javascript' src='/scripts/jflickrfeed.js'></script>
    <script type='text/javascript' src='/scripts/jquery.validate.min.js?ver=1.10.0'></script>
    <script type='text/javascript' src='/scripts/custom.js?ver=1.0'></script>

</body>
</html>
