@{
    ViewBag.Title = "易作业-查询作业";
}

<div class="content-nav">当前位置：<a href="/home/index">首页</a> > <a href="query">查看作业</a> > 作业分析</div>
<div class="content">
    <div class="main-content">
        @if (ViewBag.ErrorMsg != null)
        {
            <div style="padding-top:20px;">@ViewBag.ErrorMsg</div>
        }
        else
        {
        <div id="zychart" style="width:50%; height:600px; float:left;"></div>
        <div id="queschart" style="width:45%; height:600px; float:left; "></div>
        }
    </div>
</div>
@section scriptfirst
{
    <script src="~/Scripts/echarts/echarts.common.min.js"></script>
}

<script type="text/javascript">
    $(function () {
        var zychart = echarts.init(document.getElementById("zychart"));
        var qnodata = '@ViewBag.qno';
        var cpdata = '@ViewBag.cp';
        var option = {
            color: ['#3398DB'],
            title: {
                text: '@(ViewBag.ZyNum)客观题正确率%，提交人数：@(ViewBag.TotalCount)',
                subtext: '横坐标为正确率百分比，纵坐标为客观题题号'
            },
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'shadow'
                }
            },
            legend: {
                data: ['@(ViewBag.ZyNum)']
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            xAxis: {
                type: 'value',
                boundaryGap: [0, 0.01]
            },
            yAxis: {
                type: 'category',
                data: qnodata.split(",")
            },
            series: [
                {
                    name: '正确率%',
                    type: 'bar',
                    data: cpdata.split(",")
                }
            ]
        };

        zychart.setOption(option);

        //显示第一题
        if (qnodata.split(",").length > 0)
        {
            var name = qnodata.split(",")[0];
            var bqnum = 0, sqnum = 0;
            if (name.indexOf(".") == -1) {
                bqnum = name;
            }
            else {
                bqnum = name.split(".")[0];
                sqnum = name.split(".")[1];
            }

            ShowQuesChart(bqnum, sqnum);
        }

        //柱状图点击
        zychart.on("click", function (param) {
            var name = param.name;
            var bqnum = 0, sqnum = 0;
            if (name.indexOf(".") == -1) {
                bqnum = name;
            }
            else {
                bqnum = name.split(".")[0];
                sqnum = name.split(".")[1];
            }

            ShowQuesChart(bqnum, sqnum);
        })
    })



    //显示饼图
    var ShowQuesChart = function (bqnum, sqnum) {
        $("#queschart").html("<div class='loading' style='text-align:center; padding-top:50px;'><img style='vertical-align: middle;' src='/images/loader.gif'><b>各选项选择率正在查询中……</b></div>");
        var title = "第" + bqnum;
        if (sqnum == "0") {
            title = "第" + bqnum + "题各选项选择率";
        }
        else {
            title = "第" + bqnum + "." + sqnum + "题各选项选择率";
        }

        var result = "";

        $.ajax({
            url: "GetOptionPercent",
            type: "post",
            async: false,
            data: { zyNum: @(ViewBag.ZyNum), bqNum: bqnum, sqNum: sqnum },
            success: function (json) {
                result = json;
            }
        })

        var option = {
            title: {
                text: title,
                subtext: '百分比',
                x: 'center'
            },
            tooltip: {
                trigger: 'item',
                formatter: "{a} <br/>{b} : {c} ({d}%)"
            },
            series: [
                {
                    name: '选择率',
                    type: 'pie',
                    radius: '55%',
                    center: ['50%', '60%'],
                    data: result,
                    itemStyle: {
                        emphasis: {
                            shadowBlur: 10,
                            shadowOffsetX: 0,
                            shadowColor: 'rgba(0, 0, 0, 0.5)'
                        }
                    }
                }
            ]
        };
        var queschart = echarts.init(document.getElementById("queschart"));
        queschart.setOption(option);
    }

</script>